{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<div class="d-flex flex-column align-items-center">

    <!--FOTO PERFIL-->
    {% if card.img_perfil %}
    <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3"
        loading="lazy">
    {% else %}
    <img src="{% static 'core/img/person.jpg' %}" alt="Foto do perfil"
        class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
    {% endif %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Apagar card
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Apagar card</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente apagar seu card ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'core:deletar' card.slug_empresa card.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Apagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--FORMULÁRIO DE EDIÇÃO DO CARD-->
    <form id="editCard" action="{% url 'core:editar' card.slug_empresa card.slug %}" method="post"
        class="col col-md-4 col-lg-4 p-4" enctype="multipart/form-data">
        {% csrf_token %}

        <!--IMG PERFIL-->
        <div class="mb-3">
            <label for="id_img_perfil">Foto: <span class="small text-danger">(máximo 1MB)</span></label>
            {{form.img_perfil}}
        </div>

        <!--NOME DISPLAY-->
        <div>
            <label for="id_nome_display">Nome que aparecerá no card:</label>
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                data-bs-html="true" data-bs-title="Servirá como referência para as estatísticas do Dashboard">
                <i class="bi bi-info-circle-fill text-warning"></i>
            </button>
            <div class="input-group mb-3">
                {{form.nome_display}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--EMPRESA-->
        <div>
            <label for="id_empresa">Empresa:</label>
            <div class="input-group mb-3">
                {{form.empresa}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--SITE-->
        <div>
            <label for="id_site">Site:</label>
            <div class="input-group mb-3">
                {{form.site}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--LOGOTIPO-->
        <div class="mb-3">
            <label for="id_logotipo">Logotipo: <span class="small text-danger">(máximo 1MB)</span></label>
            {{form.logotipo}}
        </div>

        <!--CARGO-->
        <div>
            <label for="id_cargo">Cargo:</label>
            <div class="input-group mb-3">
                {{form.cargo}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--CATEGORIA-->
        <div class="mb-3">
            <label for="id_categoria">Categoria:</label>
            <select name="categoria" class="form-select" id="id_categoria" hx-get="{% url 'core:get-subcategorias'%}"
                hx-trigger="change" hx-target="#id_subcategoria">
                {% for categoria in categorias %}
                {% if categoria == categoria_atual %}
                <option value="{{categoria_atual.id}}" selected="{{categoria_atual.id}}">{{categoria.nome}}</option>
                {% else %}
                <option value="{{categoria.id}}">{{categoria.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--SUBCATEGORIA-->
        <div class="mb-3">
            <label for="id_subcategoria">Subcategoria:</label>
            <select name="subcategoria" class="form-select" id="id_subcategoria">
                {% for subcategoria in subcategorias %}
                {% if subcategoria == subcategoria_atual %}
                <option value="{{subcategoria_atual.id}}" selected="{{subcategoria_atual.id}}">{{subcategoria.nome}}
                </option>
                {% else %}
                <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--ESTADO-->
        <div class="mb-3">
            <label for="id_estado">Estado:</label>
            <select name="estado" class="form-select" id="id_estado" hx-get="{% url 'core:get-municipios'%}"
                hx-trigger="change" hx-target="#id_municipio">
                {% for estado in estados %}
                {% if estado == estado_atual %}
                <option value="{{estado_atual.id}}" selected="{{estado_atual.id}}">{{estado.nome}}</option>
                {% else %}
                <option value="{{estado.id}}">{{estado.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--MUNICIPIO-->
        <div class="mb-3">
            <label for="id_municipio">Município:</label>
            <select name="municipio" class="form-select" id="id_municipio">
                {% for municipio in municipios %}
                {% if municipio == municipio_atual %}
                <option value="{{municipio_atual.id}}" selected="{{municipio_atual.id}}">{{municipio.nome}}</option>
                {% else %}
                <option value="{{municipio.id}}">{{municipio.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--TELEFONE-->
        <div>
            <label for="id_telefone">Telefone:</label>
            <div class="input-group mb-3">
                {{form.telefone}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
                {% if form.telefone.errors %}
                {% for error in form.telefone.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <!--WHATSAPP-->
        <div>
            <label for="id_whatsapp">Whatsapp:</label>
            <div class="input-group mb-3">
                {{form.whatsapp}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
                {% if form.whatsapp.errors %}
                {% for error in form.whatsapp.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <!--FACEBOOK-->
        <div>
            <label for="id_facebook">Facebook:</label>
            <div class="input-group mb-3">
                {{form.facebook}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--INSTAGRAM-->
        <div>
            <label for="id_instagram">Instagram:</label>
            <div class="input-group mb-3">
                {{form.instagram}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--LINKEDIN-->
        <div>
            <label for="id_linkedin">LinkedIn:</label>
            <div class="input-group mb-3">
                {{form.linkedin}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--YOUTUBE-->
        <div>
            <label for="id_youtube">Youtube:</label>
            <div class="input-group mb-3">
                {{form.youtube}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--TIK TOK-->
        <div>
            <label for="id_tik_tok">Tik Tok:</label>
            <div class="input-group mb-3">
                {{form.tik_tok}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--BOTÕES-->
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" style="width: 45%;"
                onclick="history.back()">Cancelar</button>
            <button type="submit" class="btn btn-warning" style="width: 45%;">Salvar</button>
        </div>

    </form>
</div>

<script>
    function limpaCampo(e) {
        let input = e.previousElementSibling;
        input.value = '';
    }
</script>

<!--VALIDAÇÃO TAMANHO DE ARQUIVO FRONTEND-->
<script>
    function validarTamanhoArquivo(inputElement) {
        const tamanhoMaximo = 1 * 1024 * 1024; // 1 MB em bytes

        if (inputElement.files.length > 0) {
            const arquivo = inputElement.files[0];

            if (arquivo.size > tamanhoMaximo) {
                alert("O arquivo excede o tamanho máximo permitido 1 MB.");
                inputElement.value = ""; // Limpa o campo de arquivo, se necessário
            }
        }
    }

    const inputImgPerfil = document.getElementById("id_img_perfil");
    const inputLogotipo = document.getElementById("id_logotipo");

    inputImgPerfil.addEventListener("change", function () {
        validarTamanhoArquivo(inputImgPerfil);
    });

    inputLogotipo.addEventListener("change", function () {
        validarTamanhoArquivo(inputLogotipo);
    });
</script>

<!--TOOLTIPS-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    });
</script>

<!--MÁSCARA DE TELEFONE-->
<!-- <script>
    function aplicarMascaraTelefone(inputElement) {
        const valor = inputElement.value.replace(/\D/g, ""); // Remove todos os não dígitos
        let mascara;

        if (valor.length === 11) {
            mascara = "(##) #####-####";
        } else if (valor.length === 10) {
            mascara = "(##) ####-####";
        } else {
            // Se o número não tem 10 ou 11 dígitos, não aplicamos nenhuma máscara
            mascara = "";
        }

        let valorFormatado = "";
        let j = 0;

        for (let i = 0; i < mascara.length; i++) {
            if (mascara[i] === "#") {
            valorFormatado += valor[j];
            j++;
            } else {
            valorFormatado += mascara[i];
            }
        }

        inputElement.value = valorFormatado;
    }

    const inputTelefone = document.getElementById("id_telefone");
    const inputWhatsapp = document.getElementById("id_whatsapp");

    inputTelefone.addEventListener("input", function () {
    aplicarMascaraTelefone(inputTelefone);
    });

    inputWhatsapp.addEventListener("input", function () {
    aplicarMascaraTelefone(inputWhatsapp);
    });

  </script> -->

{% endblock %}