{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<style>
    .spinner {
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="d-flex flex-column align-items-center">

    <h2 class="text-center display-4 my-5">Editar cartão</h2>

    <!--FOTO PERFIL-->
    {% if card.img_perfil %}
    <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="mb-4 rounded-circle col-6 col-md-3 col-lg-3 img-fluid"
        loading="lazy">
    {% else %}
    <img src="{% static 'core/img/person.jpg' %}" alt="Foto do perfil"
        class="mb-4 rounded-circle col-6 col-md-3 col-lg-3 img-fluid" loading="lazy">
    {% endif %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Apagar cartão
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Apagar cartão</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente apagar seu cartão ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'core:deletar' card.slug_empresa card.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Apagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--FORMULÁRIO DE EDIÇÃO DO CARD-->
    <form id="editCard" action="{% url 'core:editar' card.slug_empresa card.slug %}" method="post"
        class="col col-md-4 col-lg-4 p-4" enctype="multipart/form-data">
        {% csrf_token %}

        <!--MODELO DO CARD-->
        <input type="hidden" value="{{modelo}}" name="modelo"/>

        <!--IMG PERFIL-->
        <div class="mb-3">
            <label for="id_img_perfil">Foto do cartão e do perfil: <span class="small text-danger">(máximo 1MB)</span></label>
            {{form.img_perfil}}
            {% if card.img_perfil %}
            <div class="my-2">
                <input type="checkbox" name="sem_foto" value="sim"><span class="mx-2 text-muted">Deixar cartão sem foto</span>
            </div>
            {% endif %}
        </div>

        <!--COR DE FUNDO-->
        <div class="mb-3">
            <label for="id_img_perfil">Cor de fundo:</label>
            {{form.cor}}
        </div>

        <!--NOME DISPLAY-->
        <div>
            <label for="id_nome_display">Nome que aparecerá no cartão:</label>
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                data-bs-html="true" data-bs-title="Servirá como referência para as estatísticas do Dashboard">
                <i class="bi bi-info-circle-fill text-warning"></i>
            </button>
            <div class="input-group mb-3">
                {{form.nome_display}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--EMPRESA-->
        <div>
            <label for="id_empresa">Empresa:</label>
            <div class="input-group mb-3">
                {{form.empresa}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--SITE-->
        <div>
            <label for="id_site">Site:</label>
            <div class="input-group mb-3">
                {{form.site}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--LOGOTIPO-->
        <div class="mb-3">
            <label for="id_logotipo">Logotipo: <span class="small text-danger">(máximo 1MB)</span></label>
            {{form.logotipo}}
            {% if card.logotipo %}
            <div class="my-2">
                <input type="checkbox" name="sem_logo" value="sim"><span class="mx-2 text-muted">Deixar cartão sem logotipo da empresa</span>
            </div>
            {% endif %}
        </div>

        <!--CARGO-->
        <div>
            <label for="id_cargo">Cargo:</label>
            <div class="input-group mb-3">
                {{form.cargo}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--CATEGORIA-->
        <div class="mb-3">
            <label for="id_categoria">Categoria:</label>
            <select name="categoria" class="form-select" id="id_categoria" hx-get="{% url 'core:get-subcategorias'%}"
                hx-trigger="change" hx-target="#id_subcategoria">
                {% for categoria in categorias %}
                {% if categoria == categoria_atual %}
                <option value="{{categoria_atual.id}}" selected="{{categoria_atual.id}}">{{categoria.nome}}</option>
                {% else %}
                <option value="{{categoria.id}}">{{categoria.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--SUBCATEGORIA-->
        <div class="mb-3">
            <label for="id_subcategoria">Subcategoria:</label>
            <select name="subcategoria" class="form-select" id="id_subcategoria">
                {% for subcategoria in subcategorias %}
                {% if subcategoria == subcategoria_atual %}
                <option value="{{subcategoria_atual.id}}" selected="{{subcategoria_atual.id}}">{{subcategoria.nome}}
                </option>
                {% else %}
                <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--ESTADO-->
        <div class="mb-3">
            <label for="id_estado">Estado:</label>
            <select name="estado" class="form-select" id="id_estado" hx-get="{% url 'core:get-municipios'%}"
                hx-trigger="change" hx-target="#id_municipio" hx-indicator=".htmx-indicator">
                {% for estado in estados %}
                {% if estado == estado_atual %}
                <option value="{{estado_atual.id}}" selected="{{estado_atual.id}}">{{estado.nome}}</option>
                {% else %}
                <option value="{{estado.id}}">{{estado.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <div class="p-2 position-absolute rounded spinner">
                <div class="spinner-border text-warning htmx-indicator" role="status" id="spinner"
                    style="width: 4rem; height: 4rem;">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
        </div>

        <!--MUNICIPIO-->
        <div class="mb-3">
            <label for="id_municipio">Município:</label>
            <select name="municipio" class="form-select" id="id_municipio">
                {% for municipio in municipios %}
                {% if municipio == municipio_atual %}
                <option value="{{municipio_atual.id}}" selected="{{municipio_atual.id}}">{{municipio.nome}}</option>
                {% else %}
                <option value="{{municipio.id}}">{{municipio.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--ENDERECO-->
        <div class="mb-3">
            <label for="id_endereco">Endereço:</label>
            <div class="input-group mb-3">
                {{form.endereco}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--TELEFONE-->
        <div>
            <label for="id_telefone">Telefone:</label>
            <div class="input-group mb-3">
                {{form.telefone}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
                {% if form.telefone.errors %}
                {% for error in form.telefone.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <!--WHATSAPP-->
        <div>
            <label for="id_whatsapp">Whatsapp:</label>
            <div class="input-group mb-3">
                {{form.whatsapp}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
                {% if form.whatsapp.errors %}
                {% for error in form.whatsapp.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <!--FACEBOOK-->
        <div>
            <label for="id_facebook">Facebook:</label>
            <div class="input-group mb-3">
                {{form.facebook}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--INSTAGRAM-->
        <div>
            <label for="id_instagram">Instagram:</label>
            <div class="input-group mb-3">
                {{form.instagram}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--LINKEDIN-->
        <div>
            <label for="id_linkedin">LinkedIn:</label>
            <div class="input-group mb-3">
                {{form.linkedin}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--YOUTUBE-->
        <div>
            <label for="id_youtube">Youtube:</label>
            <div class="input-group mb-3">
                {{form.youtube}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--TIK TOK-->
        <div>
            <label for="id_tik_tok">Tik Tok:</label>
            <div class="input-group mb-3">
                {{form.tik_tok}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--BOTÕES-->
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" style="width: 45%;"
                onclick="history.back()">Cancelar</button>
            <button type="submit" class="btn btn-warning" style="width: 45%;">Salvar</button>
        </div>

    </form>
</div>

<script>
    function limpaCampo(e) {
        let input = e.previousElementSibling;
        input.value = '';
    }
</script>

<!--VALIDAÇÃO TAMANHO DE ARQUIVO FRONTEND-->
<script>
    function validarTamanhoArquivo(inputElement) {
        const tamanhoMaximo = 1 * 1024 * 1024; // 1 MB em bytes

        if (inputElement.files.length > 0) {
            const arquivo = inputElement.files[0];

            if (arquivo.size > tamanhoMaximo) {
                alert("O arquivo excede o tamanho máximo permitido 1 MB.");
                inputElement.value = ""; // Limpa o campo de arquivo, se necessário
            }
        }
    }

    const inputImgPerfil = document.getElementById("id_img_perfil");
    const inputLogotipo = document.getElementById("id_logotipo");

    inputImgPerfil.addEventListener("change", function () {
        validarTamanhoArquivo(inputImgPerfil);
    });

    inputLogotipo.addEventListener("change", function () {
        validarTamanhoArquivo(inputLogotipo);
    });
</script>

<!--TOOLTIPS-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    });
</script>

<!--MÁSCARA DE TELEFONE-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function aplicarMascaraTelefone(inputElement) {
            inputElement.addEventListener('input', function () {
                let telefone = inputElement.value.replace(/\D/g, ''); // Remove caracteres não numéricos

                const regrasTelefone = [
                    { digitos: 10, regex: /^(\d{2})(\d{4})(\d{4})$/, mascara: '($1) $2-$3' },
                    { digitos: 11, regex: /^(\d{2})(\d{5})(\d{4})$/, mascara: '($1) $2-$3' }
                    // Adicione outras regras conforme necessário para diferentes formatos de telefone
                ];

                for (const regra of regrasTelefone) {
                    if (telefone.length === regra.digitos) {
                        telefone = telefone.replace(regra.regex, regra.mascara);
                        break;
                    }
                }

                inputElement.value = telefone;
            });
        }

        const inputTelefone = document.getElementById("id_telefone");
        const inputWhatsapp = document.getElementById("id_whatsapp");

        aplicarMascaraTelefone(inputTelefone);
        aplicarMascaraTelefone(inputWhatsapp);
    });

</script>

{% endblock %}