{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}

<div class="d-flex flex-column align-items-center">

    <div class="my-5">
        <h4>Olá {{user.first_name}}, vamos criar seu cartão</h4>
    </div>

    <!--IMAGEM DO PERFIL-->
    <div class="text-center">
        {% if card.img_perfil %}
        <img src="{{card.img_perfil.url}}" alt="Foto do perfil"
            class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
        {% else %}
        <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
            <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
        </div>
        {% endif %}
    </div>

    <!--FORMULÁRIO PARA CRIAR NOVO CARD-->
    <form action="{% url 'core:criar-card-pj' user.empresas.first.slug %}" method="post" id="cardForm" class="col col-md-4 col-lg-4 p-4"
        enctype="multipart/form-data">
        {% csrf_token %}

        <!--MODELO DO CARD-->
        <input type="hidden" value="{{modelo}}" name="modelo"/>

        <!--IMG_PERFIL-->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="id_img_perfil">Foto do cartão e perfil:</label>
                <div>
                    <span class="ms-4 text-secondary">instruções </span>
                    <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-html="true" data-bs-title="Tamanho máximo de 1MB, dimensões recomendadas de 500x500 pixels e formatos JPG ou PNG apenas">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                    </button>
                </div>
            </div>
            {{form.img_perfil}}
        </div>

        <!--COR DE FUNDO-->
        <div class="mb-3">
            <label for="id_img_perfil">Cor de fundo:</label>
            {{form.cor}}
        </div>

        <!--PRIMEIRO NOME DO COLABORADOR-->
        <div class="mb-3">
            <label for="id_cargo">Primeiro nome do colaborador:</label>
            {{form.first_name}}
        </div>

        <!--ULITMO NOME DO COLABORADOR-->
        <div class="mb-3">
            <label for="id_cargo">Último nome do colaborador:</label>
            {{form.last_name}}
        </div>

        <!--EMAIL DO COLABORADOR-->
        <div class="mb-3">
            <label for="id_cargo">Email do colaborador:</label>
            {{form.email}}
        </div>

        <!--NOME DISPLAY-->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="id_nome_display">Nome que aparecerá no cartão:</label>
                <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                    data-bs-html="true" data-bs-title="Servirá como referência para as estatísticas dos Relatórios">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                </button>
            </div>
            {{form.nome_display}}
        </div>

        <!--CARGO-->
        <div class="mb-3">
            <label for="id_cargo">Cargo:</label>
            {{form.cargo}}
        </div>

        <!--LOGOTIPO-->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="id_empresa">Logotipo:</label>
                <div>
                    <span class="ms-4 text-secondary">instruções </span><button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                    data-bs-html="true" data-bs-title="Tamanho máximo de 1MB, dimensões recomendadas de 500x500 pixels e formatos JPG ou PNG apenas">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                    </button>
                </div>
            </div>
            {{form.logotipo}}
        </div>

        <!--SITE-->
        <div class="mb-3">
            <label for="id_site">Site:</label>
            {{form.site}}
        </div>

        <!--CATEGORIA-->
        <div class="mb-3">
            <label for="id_categoria">Categoria:</label>
            <select name="categoria" class="form-select" id="id_categoria" hx-get="{% url 'core:get-subcategorias'%}"
                hx-trigger="change" hx-target="#id_subcategoria">
                <option value="0">Seleciona uma categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.nome}}</option>
                {% endfor %}
            </select>
        </div>

        <!--SUBCATEGORIA-->
        <div class="mb-3">
            <label for="id_subcategoria">Subcategoria:</label>
            <select name="subcategoria" class="form-select" id="id_subcategoria">
                <option value="0">Seleciona uma subcategoria</option>
                {% for subcategoria in subcategorias %}
                <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
                {% endfor %}
            </select>
        </div>

        <!--ESTADO-->
        <div class="mb-3">
            <label for="id_estado">Estado:</label>
            <select name="estado" class="form-select" id="id_estado">
                {% for estado in estados %}
                <option value="{{estado.id}}">{{estado.nome}}</option>
                {% endfor %}
            </select>
        </div>

        <!--MUNICIPIO-->
        <div class="mb-3">
            <label for="id_municipio">Município:</label>
            <select name="municipio" class="form-select" id="id_municipio">
            </select>
        </div>

        <!--ENDERECO-->
        <div class="mb-3">
            <label for="id_endereco">Endereço:</label>
            {{form.endereco}}
        </div>

        <!--CODIGO PAIS-->
        <div class="mb-3">
            <label for="id_cod_pais">Código do país:</label>
            {{form.cod_pais}}
        </div>

        <!--TELEFONE/WHATSAPP-->
        <div class="mb-3">
            <label for="id_whatsapp">Telefone/Whatsapp:</label>
            {{form.whatsapp}}
        </div>

        <!--FACEBOOK-->
        <div class="mb-3">
            <label for="id_facebook">Facebook:</label>
            {{form.facebook}}
        </div>

        <!--INSTAGRAM-->
        <div class="mb-3">
            <label for="id_instagram">Instagram:</label>
            {{form.instagram}}
        </div>

        <!--LINKEDIN-->
        <div class="mb-3">
            <label for="id_linkedin">LinkedIn:</label>
            {{form.linkedin}}
        </div>

        <!--YOUTUBE-->
        <div class="mb-3">
            <label for="id_youtube">Youtube:</label>
            {{form.youtube}}
        </div>

        <!--TIK TOK-->
        <div class="mb-3">
            <label for="id_tik_tok">Tik Tok:</label>
            {{form.tik_tok}}
        </div>

        <button type="submit" class="btn btn-warning w-100">Salvar</button>
    </form>
</div>

<!--VALIDAÇÃO TAMANHO DE ARQUIVO FRONTEND-->
<script>
    function validarTamanhoArquivo(inputElement) {
        const tamanhoMaximo = 1 * 1024 * 1024; // 1 MB em bytes

        if (inputElement.files.length > 0) {
            const arquivo = inputElement.files[0];

            if (arquivo.size > tamanhoMaximo) {
                alert("O arquivo excede o tamanho máximo permitido 1 MB.");
                inputElement.value = ""; // Limpa o campo de arquivo, se necessário
            }
        }
    }

    const inputImgPerfil = document.getElementById("id_img_perfil");
    const inputLogotipo = document.getElementById("id_logotipo");

    inputImgPerfil.addEventListener("change", function () {
        validarTamanhoArquivo(inputImgPerfil);
    });

    inputLogotipo.addEventListener("change", function () {
        validarTamanhoArquivo(inputLogotipo);
    });
</script>

<!--MÁSCARA DE TELEFONE-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function aplicarMascaraTelefone(inputElement) {
            inputElement.addEventListener('input', function() {
                let telefone = inputElement.value.replace(/\D/g, ''); // Remove caracteres não numéricos

                const regrasTelefone = [
                    { digitos: 10, regex: /^(\d{2})(\d{4})(\d{4})$/, mascara: '($1) $2-$3' },
                    { digitos: 11, regex: /^(\d{2})(\d{5})(\d{4})$/, mascara: '($1) $2-$3' }
                    // Adicione outras regras conforme necessário para diferentes formatos de telefone
                ];

                for (const regra of regrasTelefone) {
                    if (telefone.length === regra.digitos) {
                        telefone = telefone.replace(regra.regex, regra.mascara);
                        break;
                    }
                }

                inputElement.value = telefone;
            });
        }

        const inputWhatsapp = document.getElementById("id_whatsapp");
        aplicarMascaraTelefone(inputWhatsapp);
    });

</script>

<!--CARREGA MUNICIPIOS DE ACORDO COM ESTADO-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const estadosSelect = document.getElementById('id_estado');
        const municipiosSelect = document.getElementById('id_municipio');

        estadosSelect.addEventListener('change', function() {
            const estadoSelecionado = estadosSelect.value;

            fetch(`/get-municipios/?estado_id=${estadoSelecionado}`)
                .then(response => response.json())
                .then(data => {
                    // Limpa as opções anteriores exceto a selecionada, se houver
                    const selectedOption = municipiosSelect.value;
                    municipiosSelect.innerHTML = '';

                    data.forEach(municipio => {
                        const option = document.createElement('option');
                        option.value = municipio.id;
                        option.text = municipio.nome;
                        municipiosSelect.appendChild(option);
                    });

                    // Mantém a opção selecionada, se ela estiver presente no novo conjunto de opções
                    if (selectedOption && [...municipiosSelect.options].some(option => option.value === selectedOption)) {
                        municipiosSelect.value = selectedOption;
                    }
                });
        });

        // Ao carregar a página, preenche os municípios do estado inicial, se necessário
        if (estadosSelect.value) {
            estadosSelect.dispatchEvent(new Event('change'));
        }
    });
</script>

<!--TOOLTIPS-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    });
</script>

<!--VALIDA FACEBOOK-->
<script>
    document.getElementById('id_facebook').addEventListener('change', function(event) {
        var facebookPerfil = event.target.value;
        facebookPerfil = facebookPerfil.replace(/@/g, '');

        var facebookUrl = `https://www.facebook.com/${facebookPerfil}`
        event.target.value = facebookUrl;

    });
</script>

<!--VALIDA INSTRAGRAM-->
<script>
    document.getElementById('id_instagram').addEventListener('change', function(event) {
        var instagramPerfil = event.target.value;
        instagramPerfil = instagramPerfil.replace(/@/g, '');

        var instagramUrl = `https://www.instagram.com/${instagramPerfil}`
        event.target.value = instagramUrl;
    });
</script>

<!--VALIDA LINKEDIN-->
<script>
    document.getElementById('id_linkedin').addEventListener('change', function(event) {
        var linkedinPerfil = event.target.value;
        linkedinPerfil = linkedinPerfil.replace(/@/g, '');

        var linkedinUrl = `https://www.linkedin.com/in/${linkedinPerfil}`
        event.target.value = linkedinUrl;

    });
</script>

<!--VALIDA YOUTUBE-->
<script>
    document.getElementById('id_youtube').addEventListener('change', function(event) {
        var youtubePerfil = event.target.value;
        youtubePerfil = youtubePerfil.replace(/@/g, '');

        var youtubeUrl = `https://www.youtube.com/${youtubePerfil}`
        event.target.value = youtubeUrl;

    });
</script>

<!--VALIDA TIKTOK-->
<script>
    document.getElementById('id_tik_tok').addEventListener('change', function(event) {
        var tiktokPerfil = event.target.value;

        var tiktokUrl = `https://www.tiktok.com/${tiktokPerfil}`
        event.target.value = tiktokUrl;

    });
</script>

{% endblock %}