{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!-- {% include 'core/menu-interno.html'} -->
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<div class="d-flex flex-column align-items-center py-5">

    <h2 class="text-center display-4 my-5">Editar conteúdo</h2>

    <!--LOGOTIPO DA EMPRESA-->
    <!-- {% if card.logotipo %}
    <img src="{{card.logotipo.url}}" alt="logotipo" class="col col-lg-2 col-md-4 img-fluid my-3" loading="lazy">
    {% else %}
    <img src="{% static 'core/img/person.jpg' %}" alt="logotipo"
        class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
    {% endif %} -->

    {% if quantidade_conteudo < 10 %}
        <!--FORMULÁRIO PARA CRIAR CONTEÚDO-->
        <form action="{% url 'core:conteudo-criar' card.slug_empresa card.slug %}" method="post"
            class="col col-md-4 col-lg-4 p-4" enctype="multipart/form-data">
            {% csrf_token %}

            <!--TIPO CONTEÚDO-->
            <div>
                <label for="id_tik_tok">Tipo de conteúdo:</label>
                <div class="mb-3">
                    {{form.tipo}}
                </div>
            </div>

            <!--CONTEÚDO IMAGEM-->
            <div>
                <label for="id_tik_tok">Imagem: <span class="small text-danger">(máximo 1MB)</span></label>
                <div class="mb-3">
                    {{form.img}}
                </div>
            </div>

            <!--CONTEÚDO LINK-->
            <div>
                <label for="id_tik_tok">Link da imagem:</label>
                <div class="mb-3">
                    {{form.link}}
                </div>
            </div>

            <!--CONTEÚDO NOME-->
            <div>
                <label for="id_tik_tok">Nome:</label>
                <div class="mb-3">
                    {{form.nome}}
                </div>
            </div>

            <!--CONTEÚDO DESCRIÇÃO-->
            <div>
                <label for="id_tik_tok">Descrição:</label>
                <div class="mb-3">
                    {{form.descricao}}
                </div>
            </div>

            {% for error in field.errors %}
            <div class="alert alert-danger text-center alert-dismissible" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-warning w-100">Salvar</button>
        </form>
    {% else %}
        <p class="lead text-danger">Quantidade máxima de conteúdos atingidos - 10 conteúdos.</p>
    {% endif %}

</div>


<!--CONTEUDO EM CARDS-->
{% if conteudos %}
<div>
    <h2 class="text-center my-5 display-4">Lista de conteúdos</h2>
    <div
        class="row flex-md-row flex-column row-cols-md-2 g-4 justify-content-evenly align-items-lg-stretch align-items-center my-5">
        {% for conteudo in conteudos %}
        <div class="card p-0" style="width: 18rem; min-height: 26rem;">
            <img src="{{ conteudo.img.url }}" class="card-img-top h-50" alt="...">
            <div class="card-body">

                <!--NOME-->
                <div class="d-flex justify-content-between">
                    <h5 class="card-title" hx-target="this" id="nome-{{conteudo.id}}">{{conteudo.nome}}</h5>
                    <a href="#" hx-get="{% url 'core:conteudo-editar-nome' card.slug_empresa conteudo.id 'editar' %}"
                        hx-target="#nome-{{conteudo.id}}">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                </div>

                <!--DESCRICAO-->
                <div class="d-flex justify-content-between">
                    <p class="card-text" hx-target="this" id="descricao-{{conteudo.id}}">{{conteudo.descricao}}</p>
                    <a href="#" hx-get="{% url 'core:conteudo-editar-descricao' card.slug_empresa conteudo.id 'editar' %}"
                        hx-target="#descricao-{{conteudo.id}}">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                </div>

                <!--LINK-->
                <div class="d-flex justify-content-between">
                    {% if conteudo.link %}
                    <p class="card-text" hx-target="this" id="link-{{conteudo.id}}">{{conteudo.link}}</p>
                    {% else %}
                    <p class="card-text" hx-target="this" id="link-{{conteudo.id}}">Sem link para o conteúdo</p>
                    {% endif %}
                    <a href="#" hx-get="{% url 'core:conteudo-editar-link' card.slug_empresa conteudo.id 'editar' %}"
                        hx-target="#link-{{conteudo.id}}">
                        <i class="bi bi-pencil-square text-warning"></i>
                    </a>
                </div>

            </div>
            <div class="bg-white border-0 card-footer text-end">
                <!--MODAL EXCLUSAO-->
                <a title="Deletar" href="#" class="text-decoration-none" data-bs-toggle="modal"
                    data-bs-target="#modalConfirmaExclusao{{ conteudo.id }}">
                    <i class="bi bi-trash3 text-danger"></i>
                </a>
            </div>
        </div>

        <!--MODAL DE EXCLUSÃO DE CONTEÚDO-->
        <div class="modal fade" tabindex="-1" id="modalConfirmaExclusao{{ conteudo.id }}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirma exclusão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Confirma a exclusão do conteúdo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <form action="{% url 'core:conteudo-excluir' conteudo.card.slug_empresa conteudo.id %}"
                            method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endif %}

<!--VALIDAÇÃO TAMANHO DE ARQUIVO FRONTEND-->
<script>
    function validarTamanhoArquivo(inputElement) {
        const tamanhoMaximo = 1 * 1024 * 1024; // 1 MB em bytes

        if (inputElement.files.length > 0) {
            const arquivo = inputElement.files[0];

            if (arquivo.size > tamanhoMaximo) {
                alert("O arquivo excede o tamanho máximo permitido 1 MB.");
                inputElement.value = ""; // Limpa o campo de arquivo, se necessário
            }
        }
    }

    const inputImg = document.getElementById("id_img");

    inputImg.addEventListener("change", function () {
        validarTamanhoArquivo(inputImg);
    });

</script>


{% endblock %}