{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
{% include 'core/menu.html' %}

<body class="container">
  {% include 'core/mensagens.html' %}

  {% if not user.cards.first %}
  <div class="d-flex flex-column align-items-center">

    <div class="my-5">
      <h4>Olá, vamos criar seu card</h4>
    </div>

    <!--IMAGEM DO PERFIL-->
    <div class="text-center">
      {% if card.img_perfil %}
      <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3"
        loading="lazy">
      {% else %}
      <img src="{% static 'core/img/person.jpg' %}" alt="Foto do perfil"
        class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
      {% endif %}
    </div>

    <!--FORMULÁRIO PARA CRIAR NOVO CARD-->
    <form action="{% url 'core:criar' %}" method="post" class="col col-md-4 col-lg-4 p-4" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="mb-3">
        <label for="id_img_perfil">Foto: <span class="small text-danger">(máximo 1MB)</span></label>
        {{form.img_perfil}}
      </div>

      <div class="mb-3">
        <label for="id_nome_display">Nome no card:</label>
        {{form.nome_display}}
      </div>

      <div class="mb-3">
        <label for="id_empresa">Empresa:</label>
        {{form.empresa}}
      </div>

      <div class="mb-3">
        <label for="id_site">Site:</label>
        {{form.site}}
      </div>

      <div class="mb-3">
        <label for="id_empresa">Logotipo: <span class="small text-danger">(máximo 1MB)</span></label>
        {{form.logotipo}}
      </div>

      <div class="mb-3">
        <label for="id_cargo">Cargo:</label>
        {{form.cargo}}
      </div>

      <div class="mb-3">
        <label for="id_categoria">Categoria:</label>
        <select name="categoria" class="form-select" id="id_categoria"
          hx-get="{% url 'core:get-subcategorias'%}" hx-trigger="change" hx-target="#id_subcategoria">
          {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.nome}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="id_subcategoria">Subcategoria:</label>
        <select name="subcategoria" class="form-select" id="id_subcategoria">
            {% for subcategoria in subcategorias %}
              <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
            {% endfor %}
          </select>
      </div>

      <div class="mb-3">
        <label for="id_estado">Estado:</label>
        <select name="estado" class="form-select" id="id_estado"
          hx-get="{% url 'core:get-municipios'%}" hx-trigger="change" hx-target="#id_municipio">
          {% for estado in estados %}
            <option value="{{estado.id}}">{{estado.nome}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="id_municipio">Município:</label>
        <select name="municipio" class="form-select" id="id_municipio">
          {% for municipio in municipios %}
            <option value="{{municipio.id}}">{{municipio.nome}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="id_telefone">Telefone:</label>
        {{form.telefone}}
        {% if form.telefone.errors %}
          {% for error in form.telefone.errors %}
          <div class="alert alert-danger text-center alert-dismissible" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="id_whatsapp">Whatsapp:</label>
        {{form.whatsapp}}
        {% if form.whatsapp.errors %}
          {% for error in form.whatsapp.errors %}
          <div class="alert alert-danger text-center alert-dismissible" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="id_facebook">Facebook:</label>
        {{form.facebook}}
      </div>

      <div class="mb-3">
        <label for="id_instagram">Instagram:</label>
        {{form.instagram}}
      </div>

      <div class="mb-3">
        <label for="id_linkedin">LinkedIn:</label>
        {{form.linkedin}}
      </div>

      <div class="mb-3">
        <label for="id_youtube">Youtube:</label>
        {{form.youtube}}
      </div>

      <div class="mb-3">
        <label for="id_tik_tok">Tik Tok:</label>
        {{form.tik_tok}}
      </div>

      <button type="submit" class="btn btn-warning w-100">Salvar</button>
    </form>
  </div>
  {% else %}
    <div class="text-center my-5">
        <h2>Por enquanto cada pessoa pode ter somente 1 card</h2>
        <div class="fs-6 my-4">Você pode editar ou inserir informações no seu card utilizando os botões abaixo</div>
        <div class="d-flex justify-content-center my-2 rounded">
            <a href="{% url 'core:editar' user.cards.first.slug_empresa user.cards.first.slug %}"
                class="btn fs-4 w-100 bg-success text-white mx-1">Editar card</a>
            <a href="{% url 'core:conteudo' user.cards.first.slug_empresa user.cards.first.slug %}"
                class="btn fs-4 w-100  bg-success text-white mx-1">Conteúdo</a>
        </div>
    </div>
    {% endif %}

    <!--VALIDAÇÃO TAMANHO DE ARQUIVO FRONTEND-->
  <script>
    function validarTamanhoArquivo(inputElement) {
        const tamanhoMaximo = 1 * 1024 * 1024; // 1 MB em bytes

        if (inputElement.files.length > 0) {
            const arquivo = inputElement.files[0];

            if (arquivo.size > tamanhoMaximo) {
                alert("O arquivo excede o tamanho máximo permitido 1 MB.");
                inputElement.value = ""; // Limpa o campo de arquivo, se necessário
            }
        }
    }

    const inputImgPerfil = document.getElementById("id_img_perfil");
    const inputLogotipo = document.getElementById("id_logotipo");

    inputImgPerfil.addEventListener("change", function () {
    validarTamanhoArquivo(inputImgPerfil);
    });

    inputLogotipo.addEventListener("change", function () {
    validarTamanhoArquivo(inputLogotipo);
    });
  </script>

</body>

{% endblock %}