{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% include 'core/menu.html'%}

<!--CHARTJS-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{resultados|json_script:'resultados'}}


<!--NOME E PERÍODO DE RELATÓRIO-->
<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">{{ empresa.nome }} nos últimos 30 dias</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-calendar align-text-bottom" aria-hidden="true">
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        Essa semana
      </button> -->
        </div>
    </div>

    <div class="row align-items-md-stretch my-4">

        <!--TOP 5 PAGE VIEWS-->
        <div class="col-md-4 mb-3">
            <div class="h-100 p-3 bg-light rounded-3">
                <h5 class="pb-4">Total de cards</h5>
                <div class="d-flex justify-content-center" style="font-size: 3rem;">
                    <p>{{resultados.cards|length}}</p>
                </div>
            </div>
        </div>

        <!--TOP 5 PAGE VIEWS-->
        <div class="col-md-4 mb-3">
            <div class="h-100 p-3 bg-light rounded-3">
                <h5 class="pb-4">Top 5 Visualizações</h5>
                <div class="d-flex">
                    <canvas id="visualizacoes"></canvas>
                </div>
            </div>
        </div>

        <!--TOP 5 PAGE VIEWS-->
        <div class="col-md-4 mb-3">
            <div class="h-100 p-3 bg-light rounded-3">
                <h5 class="pb-4">Top 5 Origem de tráfego</h5>
                <div class="d-flex">
                    <canvas id="origem-de-trafego"></canvas>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    let resultados = JSON.parse(document.querySelector("#resultados").textContent);
    let chartVisualizacoes = Chart.getChart("visualizacoes"); // <canvas> id
    let chartOrigens = Chart.getChart("origem-de-trafego"); // <canvas> id

    if (chartVisualizacoes != undefined) {
        chartVisualizacoes.destroy();
    }
    if (chartOrigens != undefined) {
        chartOrigens.destroy();
    }

    // GRÁFICO DE VISUALIZAÇÕES
    const labelsVisualizacoes = resultados.cards;
    const dataVisualizacoes = {
        labels: labelsVisualizacoes,
        datasets: [{
            label: 'Cards',
            data: resultados.visualizacoes,
            backgroundColor: ['rgba(255, 193, 7)'],
            borderColor: ['rgba(255, 193, 7)'],
            borderWidth: 1
        }]
    }
    const configVisualizacoes = {
        type: 'bar',
        data: dataVisualizacoes,
        plugins: {
            legend: {
                labels: {
                    boxWidth: 5,
                    font: {
                        size: 20,
                    }
                }
            }
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                },
            }
        }
    }
    const graficoVisualizacoes = new Chart(document.getElementById('visualizacoes'), configVisualizacoes);

    // GRÁFICO DE ORIGENS
    const labelsOrigens = resultados.origens;
    const dataOrigens = {
        labels: labelsOrigens,
        datasets: [{
            label: 'Origens',
            data: resultados.origens_visualizacoes,
            backgroundColor: ['rgba(255, 193, 7)'],
            borderColor: ['rgba(255, 193, 7)'],
            borderWidth: 1
        }]
    }
    const configOrigens = {
        type: 'bar',
        data: dataOrigens,
        plugins: {
            legend: {
                labels: {
                    boxWidth: 5,
                    font: {
                        size: 20,
                    }
                }
            }
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                },
            }
        }
    }
    const graficoOrigens = new Chart(document.getElementById('origem-de-trafego'), configOrigens);
    // let resultadosctx = document.getElementById('origens_das_sessoes').getContext('2d');
    // let resultadosChart = new Chart(resultadosctx, { type: 'bar', data: chartData, options: chartOptions });
</script>

{% endblock %}