{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{card.usuario.first_name}} {{card.usuario.last_name}}{% endblock %}
{% block content %}

<body class="container">

  <!--EMPRESA-->
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <div>
        <a href="{{empresa.site}}">
          <img src="{{empresa.logotipo.url}}" class="w-100" alt="" loading="lazy">
        </a>
      </div>
    </div>
  </div>

  <!--VENDEDOR-->
  <div class="row flex-column align-content-center my-5">
    <div class="col-lg-8 col-12 text-center">
      {% if card.img_perfil %}
      <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="rounded-circle col-8 col-md-4 col-lg-4 img-fluid"
        loading="lazy">
      {% else %}
      <img src="{% static 'core/img/person.jpg' %}" alt="Foto do perfil"
        class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
      {% endif %}
      <h2 class="fw-normal pt-3">{{card.usuario.first_name}} {{card.usuario.last_name}}</h2>
      <!-- <h3 class="lead pb-3">Corretor Bild</h3> -->
      <div class="d-flex justify-content-center my-2 rounded" style="background-color: #FF914D;">
        <a href="https://api.whatsapp.com/send?phone=55{{card.whatsapp}}" target="_self"
          class="btn fs-2 text-white w-100"><i class="bi bi-whatsapp px-3"></i>Whatsapp</a>
      </div>
      {% if card.vcard %}
      <div class="d-flex justify-content-center my-2 rounded" style="background-color: #FF914D;">
        <a href="{{ card.vcard.url }}" class="btn text-white fs-2 w-100"><i
            class="bi bi-person-badge px-3"></i>Adicionar na agenda</a>
      </div>
      {% endif %}

      <!-- {% if user.is_authenticated } -->
      <div class="d-flex justify-content-center my-2 rounded" style="background-color: #FF914D;">
        <a href="{% url 'core:editar' card.empresa.slug card.slug %}" class="btn text-white fs-2 w-100"><i
            class="bi bi-pencil-square px-3"></i>Editar meu card</a>
      </div>
      <!-- {% endif } -->

      <div class="d-flex justify-content-around py-4">
        <a href="https://api.whatsapp.com/send?phone=55{{card.whatsapp}}" target="_self"><i
            class="bi bi-whatsapp fs-1 text-black-50"></i></a>
        {% if card.instagram %}
        <a href="{{card.instagram}}" target="_self"><i class="bi bi-instagram fs-1 text-black-50"></i></a>
        {% endif %}

        {% if card.facebook %}
        <a href="{{card.facebook}}" target="_self"><i class="bi bi-facebook fs-1 text-black-50"></i></a>
        {% endif %}

        {% if card.linkedin %}
        <a href="{{card.linkedin}}" target="_self"><i class="bi bi-linkedin fs-1 text-black-50"></i></a>
        {% endif %}

        <a href="mailto:{{card.usuario.email}}"><i class="bi bi-envelope fs-1 text-black-50"></i></a>
        <a href="tel:+55{{card.telefone}}"><i class="bi bi-telephone fs-1 text-black-50"></i></a>
      </div>
    </div><!-- /.col-lg-4 -->
  </div>

  <!--SLIDES-->
  {% if card.slide1 or card.slide2 or card.slide3 %}
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <h2 class="fs-1">Destaques</h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% if card.slide1 and card.slide1_link %}
          <div class="carousel-item active">
            <a
              href="{{ card.slide1_link }}">
              <img src="{{ card.slide1.url }}" class="d-block w-100" alt="ribeirao_evero" loading="lazy">
            </a>
          </div>
          {% endif %}

          {% if card.slide2 and card.slide2_link %}
          <div class="carousel-item">
            <a
              href="{{ card.slide2_link }}">
              <img src="{{ card.slide2.url }}" class="d-block w-100" alt="sonance" loading="lazy">
            </a>

          </div>
          {% endif %}

          {% if card.slide3 and card.slide3_link %}
          <div class="carousel-item">
            <a
              href="{{ card.slide3_link }}">
              <img src="{{ card.slide3.url }}" class="d-block w-100" alt="sette" loading="lazy">
            </a>
          </div>
          {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>
    </div>
  </div>
  {% endif %}

  <!--PRODUTOS-->
  {% if card.produtos and card.produtos_link %}
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <h2 class="fs-1">Produtos</h2>
      <div style="background-color: #683568;">
        <a href="{{ card.produtos_link }}">
          <img src="{{ card.produtos.url }}" class="w-100" alt="" loading="lazy" />
        </a>
      </div>
    </div>
  </div>
  {% endif %}


  <!--SERVIÇOS-->
  {% if card.servicos and card.servicos_link %}
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <h2 class="fs-1">Serviços</h2>
      <div>
        <a href="{{ card.servicos_link }}">
          <img src="{{ card.servicos.url }}" class="w-100" alt="">
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  <!--PROMOÇÕES-->
  {% if card.promocoes and card.promocoes_link %}
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <h2 class="fs-1">Promoções</h2>
      <div>
        <a href="{{ card.promocoes_link }}">
          <img src="{{ card.promocoes.url }}" class="w-100" alt="">
        </a>
      </div>
    </div>
  </div>
  {% endif %}

  


  <!--VÍDEOS-->
  {% if card.youtube %}
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <h2 class="fs-1">Vídeos</h2>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        {{ card.youtube|safe }}
      </div>
    </div>
  </div>
  {% endif %}

  <!--AGENDE UMA VISITA-->
  <!-- <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-lg-8">
      <h2 class="fs-1">Agende uma visita</h2>
      <div>
        <a href="https://api.whatsapp.com/send?phone={{card.whatsapp}}" target="_self">
          <img src="{% static 'bild/bild-block-agende-uma-visita.svg' %}" class="w-100" alt="" loading="lazy">
        </a>
      </div>
    </div>
  </div> -->

  <!--REDES SOCIAIS-->
  <div class="d-flex justify-content-center pb-5">
    <a href="https://api.whatsapp.com/send?phone=55{{card.whatsapp}}" target="_self" class="px-3"><i
        class="bi bi-whatsapp fs-4 text-black-50"></i></a>
    {% if card.instagram %}
    <a href="{{card.instagram}}" target="_self" class="px-3"><i class="bi bi-instagram fs-4 text-black-50"></i></a>
    {% endif %}
    
    {% if card.facebook %}
    <a href="{{card.facebook}}" target="_self" class="px-3"><i class="bi bi-facebook fs-4 text-black-50"></i></a>
    {% endif %}

    {% if card.linkedin %}
    <a href="{{card.linkedin}}" target="_self" class="px-3"><i class="bi bi-linkedin fs-4 text-black-50"></i></a>
    {% endif %}

    <a href="mailto:{{card.usuario.email}}" class="px-3"><i class="bi bi-envelope fs-4 text-black-50"></i></a>
    <a href="tel:+55{{card.telefone}}" class="px-3"><i class="bi bi-telephone fs-4 text-black-50"></i></a>
  </div>

  <!--QRCODE-->
  {% if card.qr_code %}
  <div class="d-flex justify-content-center pb-5">
    <img class="w-25" src="{{card.qr_code.url }}" alt="qrcode" />
  </div>
  {% endif %}
</body>

{% endblock %}