{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}

<div class="d-flex flex-column align-items-center">

    <h2 class="text-center display-5 my-5">Editar cartão</h2>

    <!--IMAGEM DO PERFIL-->
    {% if card.img_perfil %}
    <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="mb-4 rounded-circle col-6 col-md-3 col-lg-3 img-fluid"
        loading="lazy">
    {% else %}
    <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
        <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
    </div>
    {% endif %}

    <!-- Button trigger modal -->
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Excluir cartão
        </button>
        <a href="{% url 'core:trocar-modelo' %}" type="button" class="btn btn-warning mx-2">
            Trocar modelo
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir cartão</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente excluir seu cartão ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'core:excluir-card-pj' card.empresa.slug card.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--FORMULÁRIO DE EDIÇÃO DO CARD-->
    <form id="editCard" action="{% url 'core:editar-card-pj' card.empresa.slug card.slug %}" method="post"
        class="col col-md-8 col-lg-4 p-4" enctype="multipart/form-data">
        {% csrf_token %}

        <!--MODELO DO CARD-->
        <input type="hidden" value="{{modelo}}" name="modelo"/>

        <!--CARD PUBLICO ?-->
        <div class="form-check mb-3 d-flex justify-content-between p-0">
            <div>
                <label for="id_nome_display">Deseja tornar seu cartão público ?</label>
                <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                data-bs-html="true" data-bs-title="Seu cartão ficará disponível para consulta pública">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                </button>
            </div>
            <div>
                {{form.publico}} <span>sim</span>
            </div>
        </div>

        <!--IMG PERFIL-->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="id_img_perfil">Foto do cartão e perfil:</label>

                <!--TOOLTIP-->
                <!-- <div>
                    <span class="ms-4 text-secondary">instruções </span>
                    <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-html="true" data-bs-title="Tamanho máximo de 1MB, dimensões recomendadas de 500x500 pixels e formatos JPG ou PNG apenas">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                    </button>
                </div> -->
            </div>
            {{form.img_perfil}}
            {% if card.img_perfil %}
            <div class="my-2">
                <input type="checkbox" name="sem_foto" value="sim"><span class="mx-2 text-muted">Deixar cartão sem foto</span>
            </div>
            {% endif %}
        </div>

        <!--COR DE FUNDO-->
        <div class="mb-3">
            <label for="id_img_perfil">Cor de fundo:</label>
            {{form.cor}}
        </div>

        <!--PRIMEIRO NOME DO COLABORADOR-->
        <div class="mb-3">
            <label for="id_cargo">Primeiro nome do colaborador:</label>
            {{form.first_name}}
        </div>

        <!--ULITMO NOME DO COLABORADOR-->
        <div class="mb-3">
            <label for="id_cargo">Último nome do colaborador:</label>
            {{form.last_name}}
        </div>

        <!--EMAIL DO COLABORADOR-->
        <div class="mb-3">
            <label for="id_cargo">Email do colaborador:</label>
            {{form.email}}
        </div>

        <!--NOME DISPLAY-->
        <div>
            <div class="d-flex justify-content-between">
                <label for="id_nome_display">Nome que aparecerá no cartão:</label>
                <button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                    data-bs-html="true" data-bs-title="Servirá como referência para as estatísticas dos Relatórios">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                </button>
            </div>
            <div class="input-group mb-3">
                {{form.nome_display}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--CARGO-->
        <div>
            <label for="id_cargo">Cargo:</label>
            <div class="input-group mb-3">
                {{form.cargo}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--LOGOTIPO-->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="id_empresa">Logotipo:</label>

                <!--TOOLTIP-->
                <!-- <div>
                    <span class="ms-4 text-secondary">instruções </span><button type="button" class="btn p-0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                    data-bs-html="true" data-bs-title="Tamanho máximo de 1MB, dimensões recomendadas de 500x500 pixels e formatos JPG ou PNG apenas">
                    <i class="bi bi-info-circle-fill text-warning"></i>
                    </button>
                </div> -->
            </div>
            {{form.logotipo}}
            {% if card.logotipo %}
            <div class="my-2">
                <input type="checkbox" name="sem_logo" value="sim"><span class="mx-2 text-muted">Deixar cartão sem logotipo da empresa</span>
            </div>
            {% endif %}
        </div>

        <!--EMPRESA-->
        <div>
            <label for="id_empresa">Empresa:</label>
            <div class="input-group mb-3">
                <input type="text" name="empresa" class="form-control" value="{{empresa}}" id="id_empresa">
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--SITE-->
        <div>
            <label for="id_site">Site:</label>
            <div class="input-group mb-3">
                {{form.site}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--CATEGORIA-->
        <div class="mb-3">
            <label for="id_categoria">Categoria:</label>
            <select name="categoria" class="form-select" id="id_categoria" hx-get="{% url 'core:get-subcategorias'%}"
                hx-trigger="change" hx-target="#id_subcategoria">
                {% for categoria in categorias %}
                    {% if categoria == categoria_atual %}
                        <option value="{{categoria_atual.id}}" selected="{{categoria_atual.id}}">{{categoria.nome}}</option>
                    {% else %}
                        <option value="{{categoria.id}}">{{categoria.nome}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <!--SUBCATEGORIA-->
        <div class="mb-3">
            <label for="id_subcategoria">Subcategoria:</label>
            <select name="subcategoria" class="form-select" id="id_subcategoria">
                {% for subcategoria in subcategorias %}
                    {% if subcategoria == subcategoria_atual %}
                        <option value="{{subcategoria_atual.id}}" selected="{{subcategoria_atual.id}}">{{subcategoria.nome}}</option>
                    {% else %}
                        <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
                
        <!--ESTADO-->
        <div class="mb-3">
            <label for="id_estado">Estado:</label>
            <select name="estado" class="form-select" id="id_estado">
            {% for estado in estados %}
                {% if estado == estado_atual %}
                    <option value="{{estado.id}}" selected="{{estado.id}}">{{estado.nome}}</option>
                {% else %}
                    <option value="{{estado.id}}">{{estado.nome}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>

        <!--MUNICIPIO-->
        <div class="mb-3">
            <label for="id_municipio">Município:</label>
            <select name="municipio" class="form-select" id="id_municipio">
            {% for municipio in municipios %}
                {% if municipio == municipio_atual %}
                    <option value="{{municipio.id}}" selected="{{municipio.id}}">{{municipio.nome}}</option>
                {% else %}
                    <option value="{{municipio.id}}">{{municipio.nome}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>

        <!--ENDERECO-->
        <div class="mb-3">
            <label for="id_endereco">Endereço:</label>
            <div class="input-group mb-3">
                {{form.endereco}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--CODIGO PAIS-->
        <div class="mb-3">
            <label for="id_cod_pais">Código do país:</label>
            {{form.cod_pais}}
            {% if form.cod_pais.errors %}
                {% for error in form.cod_pais.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <!--TELEFONE/WHATSAPP-->
        <div>
            <label for="id_whatsapp">Telefone/Whatsapp:</label>
            <div class="input-group mb-3">
                {{form.whatsapp}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
                {% if form.whatsapp.errors %}
                {% for error in form.whatsapp.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <!--FACEBOOK-->
        <div>
            <label for="id_facebook">Facebook:</label>
            <div class="input-group mb-3">
                {{form.facebook}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--INSTAGRAM-->
        <div>
            <label for="id_instagram">Instagram:</label>
            <div class="input-group mb-3">
                {{form.instagram}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--LINKEDIN-->
        <div>
            <label for="id_linkedin">LinkedIn:</label>
            <div class="input-group mb-3">
                {{form.linkedin}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--YOUTUBE-->
        <div>
            <label for="id_youtube">Youtube:</label>
            <div class="input-group mb-3">
                {{form.youtube}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--TIK TOK-->
        <div>
            <label for="id_tik_tok">Tik Tok:</label>
            <div class="input-group mb-3">
                {{form.tik_tok}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--BOTÕES-->
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" style="width: 45%;"
                onclick="history.back()">Cancelar</button>
            <button type="submit" class="btn btn-warning" style="width: 45%;">Salvar</button>
        </div>

    </form>
</div>

<!--LIMPA CAMPO-->
<script>
    function limpaCampo(e) {
        let input = e.previousElementSibling;
        input.value = '';
    }
</script>

<!--VALIDAÇÃO TAMANHO DE ARQUIVO FRONTEND-->
<!-- <script>
    function validarTamanhoArquivo(inputElement) {
        const tamanhoMaximo = 1 * 1024 * 1024; // 1 MB em bytes

        if (inputElement.files.length > 0) {
            const arquivo = inputElement.files[0];

            if (arquivo.size > tamanhoMaximo) {
                alert("O arquivo excede o tamanho máximo permitido 1 MB.");
                inputElement.value = ""; // Limpa o campo de arquivo, se necessário
            }
        }
    }

    const inputImgPerfil = document.getElementById("id_img_perfil");
    const inputLogotipo = document.getElementById("id_logotipo");

    inputImgPerfil.addEventListener("change", function () {
        validarTamanhoArquivo(inputImgPerfil);
    });

    inputLogotipo.addEventListener("change", function () {
        validarTamanhoArquivo(inputLogotipo);
    });
</script> -->

<!--TOOLTIPS-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    });
</script>

<!--MÁSCARA DE TELEFONE-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function aplicarMascaraTelefone(inputElement) {
            inputElement.addEventListener('input', function () {
                let telefone = inputElement.value.replace(/\D/g, ''); // Remove caracteres não numéricos

                const regrasTelefone = [
                    { digitos: 10, regex: /^(\d{2})(\d{4})(\d{4})$/, mascara: '($1) $2-$3' },
                    { digitos: 11, regex: /^(\d{2})(\d{5})(\d{4})$/, mascara: '($1) $2-$3' }
                    // Adicione outras regras conforme necessário para diferentes formatos de telefone
                ];

                for (const regra of regrasTelefone) {
                    if (telefone.length === regra.digitos) {
                        telefone = telefone.replace(regra.regex, regra.mascara);
                        break;
                    }
                }

                inputElement.value = telefone;
            });
        }

        const inputWhatsapp = document.getElementById("id_whatsapp");

        aplicarMascaraTelefone(inputWhatsapp);
    });

</script>

<!--CARREGA MUNICIPIOS DE ACORDO COM ESTADO-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const estadosSelect = document.getElementById('id_estado');
        const municipiosSelect = document.getElementById('id_municipio');

        estadosSelect.addEventListener('change', function() {
            const estadoSelecionado = estadosSelect.value;

            fetch(`/get-municipios/?estado_id=${estadoSelecionado}`)
                .then(response => response.json())
                .then(data => {
                    // Limpa as opções anteriores exceto a selecionada, se houver
                    const selectedOption = municipiosSelect.value;
                    municipiosSelect.innerHTML = '';

                    data.forEach(municipio => {
                        const option = document.createElement('option');
                        option.value = municipio.id;
                        option.text = municipio.nome;
                        municipiosSelect.appendChild(option);
                    });

                    // Mantém a opção selecionada, se ela estiver presente no novo conjunto de opções
                    if (selectedOption && [...municipiosSelect.options].some(option => option.value === selectedOption)) {
                        municipiosSelect.value = selectedOption;
                    }
                });
        });

        // Ao carregar a página, preenche os municípios do estado inicial, se necessário
        if (estadosSelect.value) {
            estadosSelect.dispatchEvent(new Event('change'));
        }
    });
</script>

<!--VALIDA FACEBOOK-->
<script>
    document.getElementById('id_facebook').addEventListener('change', function(event) {
        var facebookPerfil = event.target.value;
        facebookPerfil = facebookPerfil.replace(/@/g, '');

        var facebookUrl = `https://www.facebook.com/${facebookPerfil}`
        event.target.value = facebookUrl;

    });
</script>

<!--VALIDA INSTRAGRAM-->
<script>
    document.getElementById('id_instagram').addEventListener('change', function(event) {
        var instagramPerfil = event.target.value;
        instagramPerfil = instagramPerfil.replace(/@/g, '');

        var instagramUrl = `https://www.instagram.com/${instagramPerfil}`
        event.target.value = instagramUrl;
    });
</script>

<!--VALIDA LINKEDIN-->
<script>
    document.getElementById('id_linkedin').addEventListener('change', function(event) {
        var linkedinPerfil = event.target.value;
        linkedinPerfil = linkedinPerfil.replace(/@/g, '');

        var linkedinUrl = `https://www.linkedin.com/in/${linkedinPerfil}`
        event.target.value = linkedinUrl;

    });
</script>

<!--VALIDA YOUTUBE-->
<script>
    document.getElementById('id_youtube').addEventListener('change', function(event) {
        var youtubePerfil = event.target.value;
        youtubePerfil = youtubePerfil.replace(/@/g, '');

        var youtubeUrl = `https://www.youtube.com/${youtubePerfil}`
        event.target.value = youtubeUrl;

    });
</script>

<!--VALIDA TIKTOK-->
<script>
    document.getElementById('id_tik_tok').addEventListener('change', function(event) {
        var tiktokPerfil = event.target.value;

        var tiktokUrl = `https://www.tiktok.com/${tiktokPerfil}`
        event.target.value = tiktokUrl;

    });
</script>

{% endblock %}