{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/menu.html' %}

<body class="container">
  {% include 'core/mensagens.html' %}
  <div class="d-flex flex-column align-items-center">

    <!--FOTO PERFIL-->
    {% if card.img_perfil %}
    <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
    {% else %}
    <img src="{% static 'core/img/person.jpg' %}" alt="Foto do perfil" class="col col-lg-2 col-md-4 img-fluid rounded-circle my-3" loading="lazy">
    {% endif %}

    <!--FORMULÁRIO DE EDIÇÃO DO CARD-->
    <form action="{% url 'core:editar' card.slug_empresa card.slug %}" method="post" class="col col-md-4 col-lg-4 p-4" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_img_perfil">Foto:</label>
        {{form.img_perfil}}
      </div>

        <!--NOME DISPLAY-->
        <div>
            <label for="id_nome_display">Nome no card:</label>
            <div class=" input-group mb-3">
                {{form.nome_display}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--EMPRESA-->
        <div>
            <label for="id_empresa">Empresa:</label>
            <div class="input-group mb-3">
                {{form.empresa}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

        <!--SITE-->
        <div>
            <label for="id_site">Site:</label>
            <div class="input-group mb-3">
                {{form.site}}
                <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            </div>
        </div>

      <div class="mb-3">
        <label for="id_logotipo">Logotipo:</label>
        {{form.logotipo}}
      </div>


    <!--CARGO-->
    <div>
        <label for="id_cargo">Cargo:</label>
        <div class="input-group mb-3">
            {{form.cargo}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>

    <!--CATEGORIA-->
    <div class="mb-3">
        <label for="id_categoria">Categoria:</label>
        {{form.categoria}}
    </div>

    <!--SUBCATEGORIA-->
    <div class="mb-3">
        <label for="id_categoria">Subcategoria:</label>
        {{form.subcategoria}}
    </div>
    
    <!--ESTADO-->
    <div class="mb-3">
        <label for="id_estado">Estado:</label>
        {{form.estado}}
    </div>
    
    <!--MUNICIPIO-->
    <div class="mb-3">
        <label for="id_municipio">Município:</label>
        {{form.municipio}}
    </div>

    <!--TELEFONE-->
    <div>
        <label for="id_telefone">Telefone:</label>
        <div class="input-group mb-3">
            {{form.telefone}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            {% if form.telefone.errors %}
            {% for error in form.telefone.errors %}
            <div class="alert alert-danger text-center alert-dismissible" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!--WHATSAPP-->
    <div>
        <label for="id_whatsapp">Whatsapp:</label>
        <div class="input-group mb-3">
            {{form.whatsapp}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
            {% if form.whatsapp.errors %}
            {% for error in form.whatsapp.errors %}
            <div class="alert alert-danger text-center alert-dismissible" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!--FACEBOOK-->
    <div>
        <label for="id_facebook">Facebook:</label>
        <div class="input-group mb-3">
            {{form.facebook}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>
    
    <!--INSTAGRAM-->
    <div>
        <label for="id_instagram">Instagram:</label>
        <div class="input-group mb-3">
            {{form.instagram}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>
    
    <!--LINKEDIN-->
    <div>
        <label for="id_linkedin">LinkedIn:</label>
        <div class="input-group mb-3">
            {{form.linkedin}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>
    
    <!--YOUTUBE-->
    <div>
        <label for="id_youtube">Youtube:</label>
        <div class="input-group mb-3">
            {{form.youtube}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>
    
    <!--TIK TOK-->
    <div>
        <label for="id_tik_tok">Tik Tok:</label>
        <div class="input-group mb-3">
            {{form.tik_tok}}
            <span class="input-group-text" onclick="limpaCampo(this)"><i class="bi bi-x-lg"></i></span>
        </div>
    </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" style="width: 45%;" onclick="history.back()">Cancelar</button>
        <button type="submit" class="btn btn-warning" style="width: 45%;">Salvar</button>
      </div>
    </form>
  </div>

  <script>
    function limpaCampo(e) {
        let input = e.previousElementSibling;
        input.value =  '';
    }
  </script>

</body>

{% endblock %}