{% extends 'core/base.html' %}
{% load static %}
{% block title %} Meu Contato {% endblock %}
{% block content %}

{% include 'core/menu.html' %}
{% include 'core/mensagens.html' %}


<!--MODELOS-->
<div class="row text-center justify-content-center flex-column flex-md-row flex-lg-row">
    <h1 class="display-4 fw-normal text-center pb-4 py-lg-5">Escolha o modelo</h1>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=A" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=B" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=C" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=D" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
</div>
<div class="row text-center justify-content-center flex-column flex-md-row flex-lg-row">
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=E" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=F" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=G" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=H" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
</div>
<div class="row text-center justify-content-center flex-column flex-md-row flex-lg-row">
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=I" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=J" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=K" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        <a href="{% url 'core:criar' %}?modelo=L" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
            </div>
        </a>
    </div>
</div>

{% endblock %}