{% extends 'core/base.html' %}
{% load static %}
{% block title %} Meu Contato {% endblock %}
{% block content %}

{% include 'core/menu.html' %}
{% include 'core/mensagens.html' %}


<!--MODELOS 1 A 3-->
<div class="row text-center justify-content-center flex-column flex-md-row flex-lg-row">
    <h1 class="display-5 fw-normal text-center pt-lg-5">Escolha o modelo</h1>
    <h1 class="display-6 fw-normal text-center pb-4 py-lg-5">Todos os modelos possuem QRCode e você pode escolher a cor de fundo</h1>

    <!--MODELO 1-->
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        {% if user.perfil.is_pj %}
        <a href="{% url 'core:criar-card-pj' user.empresas.first.slug %}?modelo=A" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-A.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% else %}
        <a href="{% url 'core:criar-card-pf' user.empresas.first.slug %}?modelo=A" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-A.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% endif %}
    </div>

    <!--MODELO 2-->
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        {% if user.perfil.is_pj %}
        <a href="{% url 'core:criar-card-pj' user.empresas.first.slug %}?modelo=B" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-B.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% else %}
        <a href="{% url 'core:criar-card-pf' user.empresas.first.slug %}?modelo=B" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-B.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% endif %}
    </div>

    <!--MODELO 3-->
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        {% if user.perfil.is_pj %}
        <a href="{% url 'core:criar-card-pj' user.empresas.first.slug %}?modelo=C" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-C.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% else %}
        <a href="{% url 'core:criar-card-pf' user.empresas.first.slug %}?modelo=C" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-C.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% endif %}
    </div>

</div>

<!--MODELOS 4 A 6-->
<div class="row text-center justify-content-center flex-column flex-md-row flex-lg-row">
    <!--MODELO 4-->
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        {% if user.perfil.is_pj %}
        <a href="{% url 'core:criar-card-pj' user.empresas.first.slug %}?modelo=D" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-D.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% else %}
        <a href="{% url 'core:criar-card-pf' user.empresas.first.slug %}?modelo=D" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-D.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% endif %}
    </div>
    <!--MODELO 5-->
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        {% if user.perfil.is_pj %}
        <a href="{% url 'core:criar-card-pj' user.empresas.first.slug %}?modelo=E" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-E.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% else %}
        <a href="{% url 'core:criar-card-pf' user.empresas.first.slug %}?modelo=E" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-E.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% endif %}
    </div>
    <!--MODELO 6-->
    <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
        {% if user.perfil.is_pj %}
        <a href="{% url 'core:criar-card-pj' user.empresas.first.slug %}?modelo=F" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-F.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% else %}
        <a href="{% url 'core:criar-card-pf' user.empresas.first.slug %}?modelo=F" class="text-decoration-none text-black">
            <div class="card-img">
                <img src="{% static 'core/modelo-F.jpg' %}" class="img-fluid">
            </div>
        </a>
        {% endif %}
    </div>
    
</div>

<!-- <script>
    initialize();

        async function initialize() {
        const queryString = window.location.search;
        const domain = window.location.origin;
        const urlParams = new URLSearchParams(queryString);
        const sessionId = urlParams.get('session_id');
        const response = await fetch(`/session-status?session_id=${sessionId}`);
        const session = await response.json();

        if (session.status == 'open') {
            
            window.replace(domain+'/compras/comprar-cartao-pf.html')
        } else if (session.status == 'complete') {
            document.getElementById('success').classList.remove('hidden');
            document.getElementById('customer-email').textContent = session.customer_email
        }
    }
</script> -->

{% endblock %}