{% extends 'core/base-card.html' %}
{% load static %}
{% load tags %}
{% block title%} {{card.usuario.first_name}} {{card.usuario.last_name}} {% endblock %}
{% block content %}

{% if user.is_authenticated and user == card.proprietario %}
    {% include 'core/menu.html' %}
{% endif %}

{% include 'core/mensagens.html' %}


<div class="align-items-center d-flex flex-column" id="bgc" style="background-color: {{card.cor}};">

    <!--DADOS DO PROPRIETÁRIO E EMPRESA-->
    <div class="col-lg-8 col-12 text-center py-3">

        <!--LOGOTIPO EMPRESA-->
        {% if card.logotipo %}
        <div class="pb-1">
            <a href="{{ card.site }}" class="align-items-center d-flex justify-content-center text-decoration-none">
                <img src="{{ card.logotipo.url }}" alt="" loading="lazy" class="logo my-5" style="width: 12rem;" />
            </a>
        </div>
        {% endif %}

        <!--FOTO PERFIL-->
        {% if card.img_perfil %}
        <div>
            <img src="{{card.img_perfil.url}}" alt="Foto do perfil" class="mb-4 rounded-circle col-4 col-md-3 col-lg-3 img-fluid"
                loading="lazy" />
            <h2 class="display-6" style="color: {{cor_da_fonte}} !important;">{{card.nome_display}}</h2>
        </div>
        {% else %}
        <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
            <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
        </div>
        {% endif %}
        
        <!--CARGO-->
        {% if card.cargo %}
            <h3 class="lead pb-1" style="color: {{cor_da_fonte}} !important;">{{ card.cargo }}</h3>
        {% endif %}

        <!--BOTAO EDITAR CARD-->
        {% if user.is_authenticated and user == card.proprietario %}
        <div class="d-flex justify-content-center my-5 rounded">
            {% if user.perfil.is_pj%}
            <a href="{% url 'core:editar-card-pj' card.empresa.slug card.slug %}" id="editarUrl"
                class="btn fs-5 col-10 bg-warning mx-1" style="color: {{cor_da_fonte}} !important;">Editar cartão</a>
            {% else %}
            <a href="{% url 'core:editar-card-pf' card.empresa.slug card.slug %}" id="editarUrl"
                class="btn fs-5 col-10 bg-warning mx-1" style="color: {{cor_da_fonte}} !important;">Editar cartão</a>
            {% endif %}
        </div>
        {% endif %}

    </div>

    <!--LINKS-->
    <div class="col-lg-8 col-12 text-center pb-3">
        {% for linha in linhas %}
        <div class="d-flex justify-content-evenly mb-5">
            {% for atributo in linha %}
                <!--EMAIL-->
                {% if atributo == 'email' %}
                    <a href="mailto:{{ card.usuario_do_card.email }}"
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center"
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-envelope-fill fs-1 text-black text-opacity-75"></i>
                    </a>    
                <!--ADICIONAR VCF AGENDA-->
                {% elif atributo == 'vcf'%}
                    <a href="{{card.vcf.url}}" 
                    class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center"
                    style="width: 4em; height: 4em;">
                    <i class="bi bi-person-fill-add fs-1 text-black text-opacity-75"></i>
                    </a>
                <!--TELEFONE-->
                {% elif atributo == 'telefone'%}
                    <a href="tel:+55{{ card.telefone|formata_telefone }}"
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center"
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-telephone-outbound-fill fs-1 text-black text-opacity-75"></i>
                    </a>
                <!--SITE-->
                {% elif atributo == 'site' %}
                <a href="{{card.site}}" 
                    target="_blank"
                    class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center"
                    style="width: 4em; height: 4em;">
                    <i class="bi bi-globe2 fs-1 text-dark text-opacity-75"></i>
                </a>
                <!--ENDEREÇO-->
                {% elif atributo == 'endereco' %}
                    <a href="https://google.com/maps/search/{{ card.endereco }}%20{{card.municipio}}%20{{card.estado}}" 
                        target="_blank" 
                        placeholder="Logradouro e número" 
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center"
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-geo-alt-fill fs-1 text-black text-opacity-75"></i>
                    </a>
                <!--TIKTOK-->
                {% elif atributo == 'tik_tok' %}
                    <a href="{{card.tik_tok}}" 
                        target="_blank" 
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center" 
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-tiktok fs-1 text-dark text-opacity-75"></i>
                    </a>
                <!--LINKEDIN-->
                {% elif atributo == 'linkedin' %}
                    <a href="{{card.linkedin}}" 
                        target="_blank" 
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center" 
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-linkedin fs-1 text-dark text-opacity-75"></i>
                    </a>
                <!--INSTAGRAM-->
                {% elif atributo == 'instagram' %}
                    <a href="{{card.instagram}}" 
                        target="_blank" 
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center"
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-instagram fs-1 text-dark text-opacity-75"></i>
                    </a>
                <!--FACEBOOK-->
                {% elif atributo == 'facebook' %}
                    <a href="{{card.facebook}}"
                        target="_blank"
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center" 
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-facebook fs-1 text-dark text-opacity-75"></i>
                    </a>
                <!--YOUTUBE-->
                {% elif atributo == 'youtube' %}
                    <a href="{{card.youtube}}" 
                        target="_blank"
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center" 
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-youtube fs-1 text-dark text-opacity-75"></i>
                    </a>
                <!--WHATSAPP-->
                {% elif atributo == 'whatsapp' %}
                    <a href="https://wa.me/{{card.whatsapp|formata_telefone}}" 
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center" 
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-whatsapp fs-1 text-black text-opacity-75"></i>
                    </a>
                <!--CATÁLOGO-->
                {% elif atributo == 'catalogo' %}
                    <a href="#anuncios" 
                        class="btn rounded-circle bg-body-secondary d-flex justify-content-center align-items-center" 
                        style="width: 4em; height: 4em;">
                        <i class="bi bi-bag-check-fill fs-1 text-dark text-opacity-75"></i>
                    </a>

                {% endif %}
                
            {% endfor %}
        </div>    
        {% endfor %}
    </div> 

    <!--ANÚNCIOS-->
    <div class="col-lg-8 col-12 text-center pb-5" id="anuncios">

        {% if promocoes %}
        <!--PROMOÇÕES-->
        <div class="pb-5">
            <h3 class="text-center my-4 display-4" style="color: {{cor_da_fonte}} !important;">Promoções</h3>
            <div
                class="row flex-md-row flex-column row-cols-md-2 g-4 justify-content-evenly align-items-lg-stretch align-items-center">
                {% for promocao in promocoes %}
                <div class="card p-0" style="width: 18rem; min-height: 26rem;">
                    <img src="{{ promocao.img.url }}" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{promocao.nome}}</h5>
                        <p class="card-text">{{promocao.descricao}}</p>
                    </div>
                    <div class="d-flex justify-content-end m-4">
                        {% if promocao.link %}
                        <a href="{{ promocao.link }}" class="btn btn-warning" target="_blank" class="btn rounded-circle bg-body-subtle">
                            Detalhes</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if produtos %}
        <!--PRODUTOS-->
        <div class="pb-5">
            <h3 class="text-center my-4 display-4" style="color: {{cor_da_fonte}} !important;">Produtos</h3>
            <div
                class="row flex-md-row flex-column row-cols-md-2 g-4 justify-content-evenly align-items-lg-stretch align-items-center">
                {% for produto in produtos %}
                <div class="card p-0" style="width: 18rem; min-height: 26rem;">
                    <img src="{{ produto.img.url }}" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{produto.nome}}</h5>
                        <p class="card-text">{{produto.descricao}}</p>
                    </div>
                    <div class="d-flex justify-content-end m-4">
                        {% if produto.link %}
                        <a href="{{ produto.link }}" class="btn btn-warning" target="_blank">Detalhes</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if servicos %}
        <!--SERVIÇOS-->
        <div class="pb-5">
            <h3 class="text-center my-4 display-4" style="color: {{cor_da_fonte}} !important;">Serviços</h3>
            <div
                class="row flex-md-row flex-column row-cols-md-2 g-4 justify-content-evenly align-items-lg-stretch align-items-center">
                {% for servico in servicos %}
                <div class="card p-0" style="width: 18rem; min-height: 26rem;">
                    <img src="{{ servico.img.url }}" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{servico.nome}}</h5>
                        <p class="card-text">{{servico.descricao}}</p>
                    </div>
                    <div class="d-flex justify-content-end m-4">
                        {% if servico.link %}
                        <a href="{{ servico.link }}" class="btn btn-warning" target="_blank">Detalhes</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if portfolios %}
        <!--PORTFÓLIOS-->
        <div class="pb-5">
            <h3 class="text-center my-4 display-4" style="color: {{cor_da_fonte}} !important;">Portfólios</h3>
            <div
                class="row flex-md-row flex-column row-cols-md-2 g-4 justify-content-evenly align-items-lg-stretch align-items-center">
                {% for portfolio in portfolios %}
                <div class="card p-0" style="width: 18rem; min-height: 26rem;">
                    <img src="{{ portfolio.img.url }}" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{portfolio.nome}}</h5>
                        <p class="card-text">{{portfolio.descricao}}</p>
                    </div>
                    <div class="d-flex justify-content-end m-4">
                        {% if portfolio.link %}
                        <a href="{{ portfolio.link }}" class="btn btn-warning" target="_blank">Detalhes</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if cursos %}
        <!--CURSOS-->
        <div class="pb-5">
            <h3 class="text-center my-4 display-4" style="color: {{cor_da_fonte}} !important;">Cursos</h3>
            <div
                class="row flex-md-row flex-column row-cols-md-2 g-4 justify-content-evenly align-items-lg-stretch align-items-center">
                {% for curso in cursos %}
                <div class="card p-0" style="width: 18rem; min-height: 26rem;">
                    <img src="{{ curso.img.url }}" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{curso.nome}}</h5>
                        <p class="card-text">{{curso.descricao}}</p>
                    </div>
                    <div class="d-flex justify-content-end m-4">
                        {% if curso.link %}
                        <a href="{{ curso.link }}" class="btn btn-warning" target="_blank">Detalhes</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!--WHATSAPP FLUTUANTE-->
        <!-- <div class="align-items-center d-flex justify-content-center position-fixed roun rounded-5"
            style="right: 20px; bottom: 200px; width: 50px; height: 50px; background-color: #25D366;">
            <a href="https://wa.me/55{{card.whatsapp|formata_telefone}}" target="_blank">
                <i class="bi bi-whatsapp" style="font-size: 2rem; color: {{cor_da_fonte}} !important;"></i>
            </a>
        </div> -->

    </div>

    <!--QRCODE E COMPARTILHAR-->
    <div class="col-lg-8 col-12 text-center pb-5">
        {% if card.qr_code %}
        <div class="d-flex justify-content-center py-3">
            <img class="qrcode" src="{{card.qr_code.url }}" alt="qrcode" style="width: 8rem;" />
        </div>
        {% endif %}

        <!--COMPARTILHAR CARTÃO-->
        <a href="#" id="shareWhatsapp" class="text-decoration-none">
            <div class="d-flex justify-content-center align-items-center pt-5">
                <i class="bi bi-file-arrow-up fs-1 mx-2" style="color: {{cor_da_fonte}} !important;"></i>
                <span style="color: {{cor_da_fonte}} !important;">compartilhar cartão</span>
            </div>
        </a>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('shareWhatsapp').addEventListener('click', function() {
            var url = encodeURIComponent(window.location.href);
            var whatsappLink = 'https://api.whatsapp.com/send?text=Acesse%20aqui%20meu%20cartão%20virtual:%20' + url;
            
            window.location.href = whatsappLink;
        });
    });
</script>

{% endblock %}