{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<div class="d-flex flex-column align-items-center py-5">
    <!--PLANOS-->
    <div class="container  px-4 py-5">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-5 fw-normal">Comprar Relatório</h1>
            <h5 class="fw-light">Saiba quais cidades acessam o seu cartão com mais frequência, quantos novos usuários e muito mais!</h5>
        </div>

        <!--PRODUTOS-->
        <section>

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">

                <!--PRODUTO-->
                <div class="col col-md-5 col-lg-5">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Relatório</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 9,90/mês</h1>
                            <ul class="text-start mt-3 mb-4">
                                <li>Estatísticas de acesso</li>
                                <li>Monitore o tráfego</li>
                                <li>Divulgue melhor</li>
                                <li>Conquiste mais clientes</li>    
                            </ul>
                            <a type="button" href="{% url 'compras:comprar-relatorio' %}"
                                class="w-100 btn btn-lg btn-warning">Comprar</a>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </div>
</div>
    {% endblock %}