{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<div class="row text-center p-3 justify-content-center">
    <h4 class="display-6 pt-3">Para comprar Relatórios ou Pacote de Anúncios é necessário criar um Cartão</h4>
    <h3 class="fs-4 lead pb-5 pt-3">Compre seu cartão de negócios virtual e comece a compartilhar com seus clientes</h3>
    <a href="{% url 'core:modelos'  %}" type="button" class="btn btn-warning w-auto mx-3">Criar cartão</a>
</div>
{% endblock %}