{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<div class="d-flex flex-column align-items-center py-5">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="fw-normal">Para comprar Relatórios ou Pacote de Anúncios é necessário ter um Cartão</h1>
            <h5 class="py-3">Compre seu cartão de negócios virtual e comece a compartilhar com seus clientes</h5>
        </div>

        <!--PRODUTOS-->
        <section>

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">

                <!--PRODUTO-->
                <div class="col-10 col-md-auto col-lg-auto">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pessoal</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 29,90</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Seu whatsapp</li>
                                <li>Seu email</li>
                                <li>Seu site</li>
                                <li>Suas redes sociais</li>
                            </ul>
                            <a type="button" href="{% url 'compras:comprar-cartao-pf' %}"
                                class="w-100 btn btn-lg btn-warning">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>
{% endblock %}