{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/menu.html' %}

{% include 'core/mensagens.html' %}
<div class="d-flex flex-column align-items-center py-5">
    <h4 class="fw-semibold">Parece que você ainda não realizou o pagamento</h4>
    <!--PLANOS-->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Planos</h1>
            <h5 class="dis">Após selecinar o plano, você será redirecionado para o Mercado Pago para realizar o
                pagamento.</h5>
        </div>

        <!--PRODUTOS-->
        <section>

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">

                <!--PRODUTO 1-->
                <div class="col-10">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Individual</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 29,90</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Até 10 anúncios no seu card</li>
                                <li>Suporte por email</li>
                                <li class="text-decoration-line-through">Dashboard</li>
                            </ul>
                            <a type="button" href="{% url 'compras:comprar-cartao' %}"
                                class="w-100 btn btn-lg btn-warning">Comprar esse</a>
                        </div>
                    </div>
                </div>

                <!--PRODUTO 2-->
                <div class="col-10">
                    <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                        <div class="card-header py-3 text-bg-secondary border-secondary">
                            <h4 class="my-0 fw-normal">Empresa</h4>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                Em breve
                            </span>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 29<small
                                    class="text-muted fw-light">/mês</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Até 10 anúncios por card</li>
                                <li>Suporte por whatsapp</li>
                                <li>Dashboard</li>
                            </ul>
                            <a type="button" href="#" class="w-100 btn btn-lg btn-secondary" disabled>Comprar esse</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">Todos os valores são por usuário do cartão</div>

        </section>

    </div>
</div>
    {% endblock %}