{% extends 'core/base.html' %}
{% load static %}
{% block title %} Meu Contato {% endblock %}
{% block content %}


{% include 'core/menu.html' %}

<div class="my-5 text-center">
    <h2>Pesquise cartões de negócios e encontre o profissional para o seu serviço</h2>
</div>

{% if not mobile %}
<!--BARRA DE PESQUISA DESKTOP-->
<form class="input-group my-5">
    <input type="text" class="form-control form-control-lg w-50"
        placeholder="Pesquise pelo nome do contato, estado ou município" name="pesquisar">
    <select name="categoria" class="form-select text-black text-opacity-50 fs-5" style="width: 20%;" id="id_categoria"
        hx-get="{% url 'core:get-subcategorias' %}" hx-trigger="change" hx-target="#id_subcategoria">
        <option value="0" selected>Categoria</option>
        {% for categoria in categorias %}
        <option value="{{categoria.id}}">{{categoria.nome}}</option>
        {% endfor %}
    </select>
    <select name="subcategoria" class="form-select text-black text-opacity-50 fs-5" id="id_subcategoria" style="width: 20%;">
        <option value="0" selected>Subcategoria</option>
        {% for subcategoria in subcategorias %}
        <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
        {% endfor %}
    </select>
    <button class="border-0 rounded-end bg-warning" type="submit">
        <i class="fs-3 border-0 btn bi bi-binoculars"></i>
    </button>
</form>

{% else %}
<!--BARRA DE PESQUISA MOBILE-->
<form class="d-flex flex-column my-5">
    <input type="text" class="form-control form-control-lg mb-3" placeholder="Nome, estado ou município"
        name="pesquisar">
    <select name="categoria" class="form-select text-black text-opacity-50 fs-5 mb-3" id="id_categoria"
        hx-get="{% url 'core:get-subcategorias' %}" hx-trigger="change" hx-target="#id_subcategoria">
        <option value="0" selected>Categoria</option>
        {% for categoria in categorias %}
        <option value="{{categoria.id}}">{{categoria.nome}}</option>
        {% endfor %}
    </select>
    <select name="subcategoria" class="form-select text-black text-opacity-50 fs-5 mb-3" id="id_subcategoria">
        <option value="0" selected>Subcategoria</option>
        {% for subcategoria in subcategorias %}
        <option value="{{subcategoria.id}}">{{subcategoria.nome}}</option>
        {% endfor %}
    </select>
    <button class="border-0 rounded-end bg-warning" type="submit">
        <i class="fs-3 border-0 btn bi bi-binoculars"></i>
    </button>
</form>
{% endif %}

{% if cards %}
<!--CARDS-->
<div class="row text-center justify-content-center flex-column flex-md-row flex-lg-row">
    {% for card in cards %}
        <div class="col col-md-3 col-lg-3 mb-4 mb-md-4 mb-lg-4">
            {% if card.proprietario.perfil.is_pj %}
                <a href="{% url 'core:detalhar-card-pj' card.empresa.slug card.slug %}" class="text-decoration-none text-black">
            {% else %}
                <a href="{% url 'core:detalhar-card-pf' card.empresa.slug card.slug %}" class="text-decoration-none text-black">
            {% endif %}
                <div class="border rounded-2 shadow mx-3 mx-lg-0 mx-md-0" style="height: 460px;">
                    {% if card.img_perfil %}
                    <img src="{{ card.img_perfil.url }}" alt="Foto do perfil" class="rounded-circle w-50 py-4">
                    {% else %}
                    <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                        <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
                    </div>
                    {% endif %}
                    <h2 class="fw-normal">{{card.nome_display}}</h2>
                    {% if card.cargo %}
                    <h4 class="lead">{{ card.cargo }}</h4>
                    <h4 class="lead">{{ card.empresa }}</h4>
                    {% endif %}
                    <h6 class="lead">{{ card.subcategoria }} - {{ card.municipio }}</h6>
                    <div class="d-flex justify-content-center py-3 mx-2">
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% else %}
<div class="text-center">
    <p class="lead fs-3">Nenhum cartão encontrado</p>
</div>
{% endif %}

{% endblock %}