<!DOCTYPE html>
<html lang="pt-br" class="h-100">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Contato</title>
  <link rel="icon" href="{% static 'core/img/favicon.svg' %}" type="image/svg+xml">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-56EV8NCWCR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-56EV8NCWCR');
  </script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/bootstrap-icons.css' %}">
</head>

<body>

  {% block content %}
  {% endblock %}

  <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>