{% extends 'core/base.html' %}
{% load static %}
{% block title %} Meu Contato {% endblock %}
{% block content %}

<style>
    .accordion-button:not(.collapsed) {
        color: black;
        background-color: #ffc107;
    }

    @media (min-width: 768px) {
        .container-carousel {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container-carousel {
            width: 970px;
        }
    }

    @media (min-width: 1200px) {
        .container-carousel {
            width: 1170px;
        }
    }

    @media (max-width: 767px) {
        #featureContainer .carousel-inner .carousel-item>div {
            display: none;
        }

        #featureContainer .carousel-inner .carousel-item>div:first-child {
            display: block;
        }
    }

    #featureContainer .carousel-inner .carousel-item.active,
    #featureContainer .carousel-inner .carousel-item-next,
    #featureContainer .carousel-inner .carousel-item-prev {
        display: flex;
    }

    @media (min-width: 768px) {

        #featureContainer .carousel-inner .carousel-item-end.active,
        #featureContainer .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        #featureContainer .carousel-inner .carousel-item-start.active,
        #featureContainer .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }

        /* #featureContainer .card img {
            width: 90%;
            height: 40vh;
        } */

        #featureContainer .carousel-item {
            justify-content: space-between;
        }
    }

    @media (max-width: 767px) {
        #featureContainer .card img {
            width: 100%;
            /* height: 75vh; */
        }
    }

    #featureContainer .carousel-inner .carousel-item-end,
    #featureContainer .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    #featureContainer .card {
        border: 0;
    }

    #featureContainer .card {
        position: relative;
    }

    #featureContainer .card .card-img-overlays {
        position: absolute;
        bottom: 15%;
        left: 10%;
    }

    #featureContainer a {
        text-decoration: none;
    }

    #featureContainer .indicator {
        border: 1px solid rgb(202, 202, 202);
        padding: 3px 6px 3px 6px;
    }

    #featureContainer .indicator:hover {
        background-color: blue;
        border: 1px solid blue;
        transition: 200ms;
    }

    #featureContainer .indicator:hover {
        color: white;
        transition: 200ms;
    }

    #featureContainer .indicator {
        color: lightgray;
    }

    #featureContainer .float-end {
        padding-top: 10px;
    }
</style>

<!--LOTTIE FILES-->
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% include 'core/menu.html' %}
{% include 'core/mensagens.html' %}

<!--HERO-->
<div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
    <div class="row flex-lg-row-reverse align-items-center g-5 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_ffkzpglj.json" background="transparent"
                speed="1" loop autoplay></lottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Impressione ao fazer networking</h1>
            <p class="lead">Tenha um cartão de visitas moderno, online e editável. Insira os links das suas redes
                sociais, fotos e descrição de produtos, promoções, serviços e muito mais.</p>
        </div>
    </div>
</div>

<!--COMO FUNCIONA-->
<div class="bg-light">
    <div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
        <div class="align-items-center flex-lg-row-reverse g-5 py-5 row justify-content-center">

            <!--TEXTO-->
            <div class="col-lg-5 col-md-10">
                <h1 class="display-5 fw-bold lh-1 mb-3">Como funciona</h1>
                <p class="lead">Crie sua conta, escolha o modelo, insira suas informações e comece a compartilhar.</p>
            </div>

            <!--CARDS EXPLICATIVOS-->
            <div class="col-lg-7 col-md-10">
                <div class="g-3 justify-content-center row">

                    <!--CARD 1-->
                    <div class="col-lg-5 col-10 rounded text-center mx-2">
                        <div class="align-items-center bg-black bg-opacity-10 d-flex fs-1 justify-content-center m-auto my-3 rounded-circle"
                            style="height: 100px; width: 100px;">
                            <span>1</span>
                        </div>
                        <!-- <h2 class="fw-normal py-3">Passo 1</h2> -->
                        <p>Crie sua conta</p>
                    </div>

                    <!--CARD 2-->
                    <div class="col-lg-5 col-10 rounded text-center mx-2">
                        <div class="align-items-center bg-black bg-opacity-10 d-flex fs-1 justify-content-center m-auto my-3 rounded-circle"
                            style="height: 100px; width: 100px;">
                            <span>2</span>
                        </div>
                        <!-- <h2 class="fw-normal py-3">Passo 2</h2> -->
                        <p>Insira as informações que deseja</p>
                    </div>

                    <!--CARD 3-->
                    <div class="col-lg-5 col-10 rounded text-center mx-2">
                        <div class="align-items-center bg-black bg-opacity-10 d-flex fs-1 justify-content-center m-auto my-3 rounded-circle"
                            style="height: 100px; width: 100px;">
                            <span>3</span>
                        </div>
                        <!-- <h2 class="fw-normal py-3">Passo 3</h2> -->
                        <p>Gere o QRCode do seu cartão</p>
                    </div>

                    <!--CARD 4-->
                    <div class="col-lg-5 col-10 rounded text-center mx-2">
                        <div class="align-items-center bg-black bg-opacity-10 d-flex fs-1 justify-content-center m-auto my-3 rounded-circle"
                            style="height: 100px; width: 100px;">
                            <span>4</span>
                        </div>
                        <!-- <h2 class="fw-normal py-3">Passo 4</h2> -->
                        <p>Compatilhe e atraia novos clientes</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--COMPRE AGORA-->
<div class="container px-4 py-5 col-xxl-12 col-xl-8 col-lg-8 col-md-12">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-5 fw-normal">Comprar</h1>
        <p class="fs-5 text-muted">Taxa única e sem mensalidade para cartão e anúncios</p>
    </div>

    <!--PRODUTOS-->
    <section>

        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center justify-content-center">

            <!--PRODUTO 1-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Cartão</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 29,90</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Seu whatsapp</li>
                            <li>Seu email</li>
                            <li>Seu site</li>
                            <li>Suas redes sociais</li>
                        </ul>
                        {% if not user.is_authenticated %}
                            <a type="button" href="{% url 'usuarios:registrar' %}"
                                class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--PRODUTO 2-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Anúncios</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 9,90</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 anúncios no seu cartão</li>
                            <li>Insira foto e descrição</li>
                            <li>Anuncie seus produtos</li>
                            <li>Conquiste mais clientes</li>
                        </ul>
                        {% if not user.is_authenticated %}
                        <a type="button" href="{% url 'usuarios:registrar' %}"
                            class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--PRODUTO 3-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Relatórios</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 9,90/mês</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Estatísticas de acesso</li>
                            <li>Monitore o tráfego</li>
                            <li>Divulgue melhor</li>
                            <li>Conquiste mais clientes</li>
                        </ul>
                        {% if not user.is_authenticated %}
                        <a type="button" href="{% url 'usuarios:registrar' %}"
                            class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--PRODUTO 4-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Para empresas</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 49,90/mês</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Tudo incluso</li>
                            <li>Monitore o cartão mais popular</li>
                            <li>Reutilize o cartão</li>
                            <li>Conquiste mais clientes</li>
                        </ul>
                        {% if not user.is_authenticated %}
                        <a type="button" href="{% url 'usuarios:registrar' %}"
                            class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

<!--TUDO EM UM LUGAR-->
<div class="bg-light">
    <div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
        <div class="row flex-lg-row-reverse align-items-center g-5 justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_HssWzpeh0E.json"
                    background="transparent" speed="1" loop
                    autoplay></lottie-player>
                <!-- <img src="https://via.placeholder.com/300" class="w-100" /> -->
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Tudo em um lugar</h1>
                <p class="lead">Todas as informações do seu cartão em um único lugar. Imagens de produtos, promoções,
                    logo da
                    empresa, redes sociais, telefones, e-mail e muito mais.
                </p>
            </div>
        </div>
    </div>
</div>

<!--EDITE QUANDO QUISER-->
<div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
    <div class="row align-items-center g-5 justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_8zzfnwv8.json" background="transparent"
                speed="1" loop autoplay></lottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Edite quando quiser</h1>
            <p class="lead">Quer mudar a foto do seu cartão, o logo da empresa ou divulgar mais produtos ? Entre na sua
                conta,
                altere as informações que desejar e gere um novo QRCode para seu cartão.</p>
        </div>
    </div>
</div>

<!--LINK-->
<div class="bg-light">
    <div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
        <div class="row flex-lg-row-reverse align-items-center g-5 justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <dotlottie-player src="https://lottie.host/237cbaae-d8b2-4b4c-b836-cda4be1cf84e/nQkuUFo6hH.json"
                    background="transparent" speed="1" loop
                    autoplay></dotlottie-player>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Acesse o cartão por link</h1>
                <p class="lead">Depois de criado, é hora de compartilhar o link do seu cartão nas suas redes
                    sociais, incluir no seu site ou adicionar à sua assinatura de e-mail. Isso ajudará a aumentar sua
                    visibilidade online e a atrair mais clientes em potencial.
                </p>
            </div>
        </div>
    </div>
</div>

<!--VCF-->
<div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
    <div class="row align-items-center g-5 justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <dotlottie-player src="https://lottie.host/0f90784b-151b-4af3-bb9b-ec213e9a6a51/S3VEIOD1ar.json"
                background="transparent" speed="1" loop
                autoplay></dotlottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Botão Salvar na Agenda</h1>
            <p class="lead">Insira seus dados de contato diretamente no celular dos seus clientes. Eles podem salvar suas
                informações com facilidade baixando um arquivo VCard, compatível com todos os tipos de telefones. Com
                apenas um clique, isso permite que eles evitem o trabalho de digitar seus dados, economizando tempo para
                seus clientes.</p>
        </div>
    </div>
</div>

<!--QRCode-->
<div class="bg-light">
    <div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
        <div class="row flex-lg-row-reverse align-items-center g-5 justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <dotlottie-player src="https://lottie.host/14e1223b-0551-470c-a1f6-d2197ab2e869/6dX2Jdckd4.json"
                    background="transparent" speed="1" loop
                    autoplay></dotlottie-player>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Compartilhe por QRCode</h1>
                <p class="lead">Você tem a opção de compartilhar seu cartão por meio de um QR Code, uma ferramenta
                    eficiente e
                    veloz de leitura, otimizando sua forma de se conectar com os clientes.
                </p>
            </div>
        </div>
    </div>
</div>

<!--ATALHO-->
<div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
    <div class="row align-items-center g-5">
        <div class="col-12 col-md-10 col-lg-6 justify-content-center">
            <dotlottie-player src="https://lottie.host/bbe56502-2357-4571-964d-54bf1b4b32bb/ASecng16nv.json"
                background="transparent" speed="1" loop
                autoplay></dotlottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">APP no Iphone ou Android</h1>
            <p class="lead">No Android ou iPhone é possível adicionar um atalho do seu
                cartão de visita digital diretamente na tela inicial do smartphone como seu fosse um aplicativo. No
                Android, utilizando o Google
                Chrome, e no iPhone, utilizando o Safari. <a href="#" class="text-decoration-none">Clique aqui e saiba
                    mais</a></p>
        </div>
    </div>
</div>

<!--RELATORIOS-->
<div class="bg-light">
    <div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
        <div class="row flex-lg-row-reverse align-items-center g-5 justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <dotlottie-player src="https://lottie.host/7c793052-fe66-4368-9708-de1b2964fd8b/T1vTPlqGJV.json"
                    background="transparent" speed="1" loop
                    autoplay></dotlottie-player>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Relatórios</h1>
                <p class="lead">Tenha acesso aos relatórios, uma poderosa ferramenta que oferece informações sobre o
                    comportamento das pessoas que acessam o seu cartão.
                    Você pode rastrear o tráfego, entender a origem e o comportamento dos
                    visitantes, além de analisar métricas essenciais, como tempo de permanência, taxas de conversão e
                    desempenho do cartão.
                </p>
            </div>
        </div>
    </div>
</div>

<!--OBJETIVO-->
<div class="container px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-6 fw-lighter">Promova seus produtos, serviços ou habilidades de uma maneira moderna e acessível.</h1>
    </div>
</div>

<!--COMPRE AGORA-->
<div class="container px-4 py-5 col-xxl-12 col-xl-8 col-lg-8 col-md-12">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-5 fw-normal">Comprar</h1>
        <p class="fs-5 text-muted">Taxa única e sem mensalidade para cartão e anúncios</p>
    </div>

    <!--PRODUTOS-->
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center justify-content-center">

            <!--PRODUTO 1-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Cartão</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 29,90</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Seu whatsapp</li>
                            <li>Seu email</li>
                            <li>Seu site</li>
                            <li>Suas redes sociais</li>
                        </ul>
                        {% if not user.is_authenticated %}
                            <a type="button" href="{% url 'usuarios:registrar' %}"
                                class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--PRODUTO 2-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Anúncios</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 9,90</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 anúncios no seu cartão</li>
                            <li>Insira foto e descrição</li>
                            <li>Anuncie seus produtos</li>
                            <li>Conquiste mais clientes</li>
                        </ul>
                        {% if not user.is_authenticated %}
                        <a type="button" href="{% url 'usuarios:registrar' %}"
                            class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--PRODUTO 3-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Relatórios</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 9,90/mês</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Estatísticas de acesso</li>
                            <li>Monitore o tráfego</li>
                            <li>Divulgue melhor</li>
                            <li>Conquiste mais clientes</li>
                        </ul>
                        {% if not user.is_authenticated %}
                        <a type="button" href="{% url 'usuarios:registrar' %}"
                            class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--PRODUTO 4-->
            <div class="col-10" style="width: 300px;">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Para empresas</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title fs-2">R$ 49,90/mês</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Tudo incluso</li>
                            <li>Monitore o cartão mais popular</li>
                            <li>Reutilize o cartão</li>
                            <li>Conquiste mais clientes</li>
                        </ul>
                        {% if not user.is_authenticated %}
                        <a type="button" href="{% url 'usuarios:registrar' %}"
                            class="w-100 btn btn-lg btn-warning">Comprar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
</div>

<!--MODELOS-->
<div class="container  px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
    <h1 class="display-5 fw-normal text-center">Modelos</h1>
    <h4 class="lead text-center pb-4 py-lg-5">Todos os modelos possuem QRCode e você pode escolher a cor de fundo</h4>
    <div class="row my-5">
        <div class="col-md-4">
            <div class="card mx-1">
                <div class="card-img">
                    <img src="{% static 'core/modelo-A.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-1">
                <div class="card-img">
                    <img src="{% static 'core/modelo-D.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-1">
                <div class="card-img">
                    <img src="{% static 'core/modelo-B.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mx-1">
                <div class="card-img">
                    <img src="{% static 'core/modelo-E.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-1">
                <div class="card-img">
                    <img src="{% static 'core/modelo-C.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-1">
                <div class="card-img">
                    <img src="{% static 'core/modelo-F.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODELOS-->
<!-- <div class="bg-light">
    <div class="container container-carousel  px-4 py-5 col-xxl-12 col-xl-8 col-lg-8" id="featureContainer">
        <h1 class="display-5 fw-normal text-center">Modelos</h1>
        <h4 class="fw-normal text-center pb-4 py-lg-5">Todos os modelos possuem QRCode e você pode escolher a cor de
            fundo</h4>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="featureCarousel" class="carousel slide" data-bs-ride="carousel"> -->
                <!-- Add Slides To The Carousel -->
                <!-- <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card mx-1">
                                <div class="card-img">
                                    <img src="{% static 'core/modelo-A.jpg' %}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card mx-1">
                                <div class="card-img">
                                    <img src="{% static 'core/modelo-B.jpg' %}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card mx-1">
                                <div class="card-img">
                                    <img src="{% static 'core/modelo-C.jpg' %}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card mx-1">
                                <div class="card-img">
                                    <img src="{% static 'core/modelo-D.jpg' %}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card mx-1">
                                <div class="card-img">
                                    <img src="{% static 'core/modelo-E.jpg' %}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card mx-1">
                                <div class="card-img">
                                    <img src="{% static 'core/modelo-F.jpg' %}" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--PORTFOLIO-->
<!-- <div class="bg-light">
    <div class="container container-carousel  px-4 py-5 col-xxl-12 col-xl-8 col-lg-8" id="featureContainer">
        <h1 class="display-5 fw-normal text-center pb-4 py-lg-5">Portfólio</h1>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Add Slides To The Carousel -->
<!-- <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <a href="#">
                                    <div class="card-img">
                                        <img src="{% static 'core/exemplo-card.jpg' %}" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- </div> -->


<!--DÚVIDAS FREQUENTES-->
<div>
    <div class="container  px-4 py-5 col-xxl-12 col-xl-12 col-md-12 col-lg-12">
        <h1 class="display-5 fw-normal text-center pb-4 py-lg-5">Dúvidas frequentes</h1>
        <div class="accordion lead" id="accordionExample">
            <!--DÚVIDA 1-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Que informações posso inserir no meu cartão?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Atualmente você pode inserir:
                        <ul>
                            <li>Nome</li>
                            <li>Foto de perfil</li>
                            <li>Cargo</li>
                            <li>Nome da empresa</li>
                            <li>Logo da empresa</li>
                            <li>Telefone</li>
                            <li>WhatsApp</li>
                            <li>E-mail</li>
                            <li>Redes sociais</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--DÚVIDA 2-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        O que é a funcionalidade Relatórios ?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Cada cartão recebe um endereço único de internet que pode ser compartilhado. Os relatórios
                            captam quantas pessoas viram o seu cartão quando você o compartilha nas suas redes sociais e
                            mostram gráficos com informações sobre cidade onde houveram mais visualizações, redes
                            sociais que mais captaram
                            usuários e muitas outras informações.</p>
                        <p class="fw-bold my-4">*** Serviço contratado à parte</p>
                    </div>
                </div>
            </div>
            <!--DÚVIDA 3-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        O que é a funcionalidade Anúncios ?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Você tem a liberdade de apresentar até 10 itens distintos. Isso pode incluir seus principais
                            produtos, ofertas promocionais, cursos que você oferece ou exemplos do seu portfólio de
                            trabalho.</p>
                        <p>Aproveite ao máximo as 10 áreas disponíveis para garantir que os visitantes vejam os aspectos
                            mais atraentes do seu negócio. Destaque os produtos mais vendidos, as melhores promoções
                            atuais, os cursos mais populares ou os trabalhos mais impressionantes do seu portfólio.</p>
                        <p class="fw-bold my-4">*** Serviço contratado à parte</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 d-md-flex justify-content-center">
            {% if not user.is_authenticated %}
                <a type="button" href="{% url 'usuarios:registrar' %}"
                    class="btn btn-warning btn-lg px-4 me-md-2 col-12">Comprar</a>
            {% endif %}
        </div>
    </div>
</div>

<!--COOKIE MENSAGEM-->
<div class="position-fixed d-flex d-none text-white p-3 justify-content-around container bg-primary align-items-center align-self-center" style="top: 85vh;" id="cookieConsent">
    Este site utiliza cookies para garantir a melhor experiência. Ao continuar, você concorda com o uso deles.
    <button onclick="aceitarCookies()" class="btn btn-warning mx-2">Entendi</button>
</div>

<!--COOKIE CONSENT-->
<script>
    // Função para definir o consentimento e esconder o aviso
    function aceitarCookies() {
        // Defina um cookie ou armazene no localStorage para registrar o consentimento
        // Exemplo usando localStorage:
        localStorage.setItem('cookiesAceitos', 'true');

        // Esconda o aviso após o consentimento
        document.getElementById('cookieConsent').classList.add('d-none');
    }

    // Verifique se o consentimento já foi dado antes de mostrar o aviso
    window.addEventListener("load", function() {
        if (!localStorage.getItem('cookiesAceitos')) {
            document.getElementById('cookieConsent').classList.remove('d-none');
        }
    });
</script>

<!--CARROSSEL-->
<script>
    let myCarousel = document.querySelectorAll('#featureContainer .carousel .carousel-item');
    myCarousel.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = myCarousel[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })
</script>

{% endblock %}