{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container border-bottom py-3">
    <img src="{{ empresa.logo.url }}" alt="logotipo" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav fs-4 ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:home' %}">Início</a>
        </li>
        {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:dashboard-empresa' user.empresa_gerentes.first.slug %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuarios:registrar' %}">Corretores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:lista' user.empresa_gerentes.first.slug %}">Cards</a>
        </li>
        {% elif user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:dashboard-card' user.empresa_vendedores.first.slug user.cards.first.slug %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:editar' user.empresa_vendedores.first.slug user.cards.first.slug %}">Card</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuarios:logout' %}">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>