{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% include 'core/menu.html' %}
    {% include 'core/mensagens.html' %}

    <!--STRIPE-->
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>

    <!--PRODUTO -->
    <div class="container mt-5">
        <div class="row justify-content-md-center justify-content-lg-center">

            {% if not compra %}
            <div class="col-md-4 mb-4">
                <h4 class="text-center">Relatório do cartão</h4>
                <div class="border rounded-2 shadow text-center">
                    <img src="{% static 'core/img/relatorios.jpg'%}" alt="Foto do perfil" class="rounded-circle w-50 my-3 border-2 border">
                    <h2 class="fw-normal">{{card.nome_display}}</h2>
                    {% if card.cargo %}
                    <h4 class="lead">{{ card.cargo }}</h4>
                    {% endif %}
                    {% if card.empresa %}
                    <h4 class="lead">{{ card.empresa }}</h4>
                    {% endif %}
                    {% if card.subcategoria %}
                    <h6 class="lead">{{card.subcategoria}}</h6>
                    {% endif %}
                    <div class="d-flex justify-content-center py-3">
                        <ul class="text-start lead">
                            <li>Estatísticas de acesso</li>
                            <li>Monitore o tráfego</li>
                            <li>Divulgue melhor</li>
                        </ul>
                    </div>
                    <h4 class="fs-4 lead pb-4">R$ 9,90/mês</h4>
                    <stripe-buy-button
                    buy-button-id="buy_btn_1PTrTZEfa8nOJrr923IwNV5i"
                    publishable-key="pk_test_51PL7XdEfa8nOJrr99uOTyOp29hmSCb0ZMhzR4P4U3knCHiGt0c6lflKNqgpFrnYTXReFdTRedxEJk4a2jT4w6QqI00frtaQrxb"
                    customer-email="{{email_usuario}}"
                    >
                    </stripe-buy-button>
                </div>
            </div>

            {% else %}
            <div class="col-md-4 mb-4">
                {% if not card %}
                <h4 class="text-center">Parece que você ainda não criou ou seu cartão.</h4>
                <a href="{% url 'core:modelos' %}"
                class="btn fs-5 w-100 bg-warning text-white mt-3">Criar cartão</a>
                {% else %}
                <h4 class="text-center">Você já comprou relatórios. Clique abaixo visualizar</h4>
                <a href="{% url 'core:relatorio-pf' user.empresas.first.slug card.slug %}"
                class="btn fs-5 w-100 bg-warning text-white mt-3">Visualizar relatórios</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}