{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% include 'core/menu.html' %}
    {% include 'core/mensagens.html' %}

    <!--STRIPE-->
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>

    <!--PRODUTO-->
    <div class="container mt-5">
        <div class="row justify-content-md-center justify-content-lg-center">

            {% if not comprou_cartao_pf %}
                <div class="col-md-4 mb-4">
                    <h4>Cartão Pessoal</h4>
                    <div class="border rounded-2 shadow text-center">
                        <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                            <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
                        </div>
                        <h2 class="fw-normal">Seu nome</h2>
                        <h4 class="lead">Seu cargo</h4>
                        <h4 class="lead">Sua empresa</h4>
                        <div class="d-flex justify-content-center py-3">
                            <ul class="text-start lead">
                                <li>Seu whatsapp</li>
                                <li>Seu email</li>
                                <li>Seu site</li>
                                <li>Suas redes sociais</li>
                            </ul>
                        </div>
                        <h4 class="fs-4 lead pb-3">R$ 29,90</h4>
                        <stripe-buy-button
                        buy-button-id="buy_btn_1PUBSEEfa8nOJrr95ARMa19E"
                        publishable-key="pk_test_51PL7XdEfa8nOJrr99uOTyOp29hmSCb0ZMhzR4P4U3knCHiGt0c6lflKNqgpFrnYTXReFdTRedxEJk4a2jT4w6QqI00frtaQrxb"
                        customer-email="{{email_usuario}}"
                        >
                        </stripe-buy-button>
                    </div>
                </div>

            {% else %}
                <div class="col-md-4 mb-4">
                    {% if not card %}
                    <h4 class="text-center">Você já comprou um cartão. Clique abaixo para criá-lo</h4>
                    <a href="{% url 'core:modelos' %}"
                    class="btn fs-5 w-100 bg-warning text-white mt-3">Criar cartão</a>
                    {% else %}
                    <h4 class="text-center">Você já criou um cartão. Clique abaixo para editá-lo</h4>
                    <a href="{% url 'core:editar-card-pf' card.empresa.slug card.slug %}"
                    class="btn fs-5 w-100 bg-warning text-white mt-3">Editar cartão</a>
                    {% endif %}
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}