{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% include 'core/menu.html' %}
    {% include 'core/mensagens.html' %}

    <!--MERCADO PAGO SDK-->
    <!-- <script src="https://sdk.mercadopago.com/js/v2"></script> -->

    <!--STRIPE-->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'core/checkout.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/checkout.css' %}" />


    <!--INFORMAÇÕES DO PRODUTO E FORMULÁRIO PARA PAGAMENTO-->
    <div class="container mt-5">
        <div class="row justify-content-md-center justify-content-lg-center">
            <!--INFORMAÇÕES DO PRODUTO-->
            {% if not compra %}
            <div class="col-md-4 mb-4">
                <h4>Cartão Pessoal</h4>
                <div class="border rounded-2 shadow text-center">
                    <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                        <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
                    </div>
                    <h2 class="fw-normal">Seu nome</h2>
                    <h4 class="lead">Seu cargo</h4>
                    <h4 class="lead">Sua empresa</h4>
                    <div class="d-flex justify-content-center py-3">
                        <ul class="text-start lead">
                            <li>Seu whatsapp</li>
                            <li>Seu email</li>
                            <li>Seu site</li>
                            <li>Suas redes sociais</li>
                        </ul>
                    </div>
                    <h4 class="fs-4 lead pb-3">R$ 29,90</h4>
                    <p class="text-danger">Parcelamos em até 5x com juros</p>
                </div>
            </div>

            <!--FORMULÁRIO DE PAGAMENTO-->
            <div id="cardPaymentBrick_container" class="col-6">
                <form id="payment-form">
                    <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                    </div>
                    <div id="address-element">
                        <!--Stripe.js injects the Payment Element-->
                        </div>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pagar</span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                </form>
            </div>

            <!-- <div id="checkout" class="col-6"></div> -->

            {% else %}
            <div class="col-md-4 mb-4">
                {% if not card %}
                <h4 class="text-center">Você já comprou um cartão. Clique abaixo para criá-lo</h4>
                <a href="{% url 'core:modelos' %}"
                class="btn fs-5 w-100 bg-warning text-white mt-3">Criar cartão</a>
                {% else %}
                <h4 class="text-center">Você já criou um cartão. Clique abaixo para editá-lo</h4>
                <a href="{% url 'core:editar-card-pf' card.empresa.slug card.slug %}"
                class="btn fs-5 w-100 bg-warning text-white mt-3">Editar cartão</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    <!--INICIALIZA FORM DE PAGAMENTO-->
    <!-- <script>
        const mp = new MercadoPago('TEST-32bc8738-ecfc-4e29-a3c9-5abd8f5c1dbe', {
          locale: 'pt-BR'
        });
        const bricksBuilder = mp.bricks();
        const renderCardPaymentBrick = async (bricksBuilder) => {
          const settings = {
            initialization: {
              amount: 29.90, // valor total a ser pago
              payer: {
                email: "",
              },
            },
            customization: {
              visual: {
                style: {
                    customVariables:{
                        theme: 'bootstrap',
                        baseColor: '#ffc108',
                    }
                },
                texts: {
                    formTitle: "Cartão de crédito",
                  },
                paymentMethods: {
                    types: {
                        excluded: ['debit_card']
                    }, 
                    maxInstallments: 1,
                }
              },
            },
            callbacks: {
              onReady: () => {
                // callback chamado quando o Brick estiver pronto
              },
              onSubmit: (cardFormData) => {
                //  callback chamado o usuário clicar no botão de submissão dos dados
                //  exemplo de envio dos dados coletados pelo Brick para seu servidor
                return new Promise((resolve, reject) => {
                  fetch("/compras/comprar-cartao-pf/", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(cardFormData)
                  })
                    .then((response) => {
                        // Verifica o resultado do pagamento
                        console.log(response)
                        console.log(response.status)
                        if (response.status === 200) {
                            // Pagamento bem-sucedido, redirecione para a página de sucesso
                            console.log('Pagamento bem-sucedido, redirecione para a página de sucesso')
                            window.location.href = "/card/modelos/";
                        } else {
                            // Trate outros cenários de resposta aqui, como erros
                            // Pode redirecionar para uma página de erro, se aplicável
                            console.log('Pagamento falhou')
                            window.location.href = "/";
    }
                      resolve();
                    })
                    .catch((error) => {
                      // lidar com a resposta de erro ao tentar criar o pagamento
                      reject();
                    })
                });
              },
              onError: (error) => {
                // callback chamado para todos os casos de erro do Brick
              },
            },
          };
          window.cardPaymentBrickController = await bricksBuilder.create('cardPayment', 'cardPaymentBrick_container', settings);
        };
        renderCardPaymentBrick(bricksBuilder);
    </script> -->

    <!-- <script>
        // This is your test publishable API key.
        const stripe = Stripe("pk_test_51PL7XdEfa8nOJrr99uOTyOp29hmSCb0ZMhzR4P4U3knCHiGt0c6lflKNqgpFrnYTXReFdTRedxEJk4a2jT4w6QqI00frtaQrxb");

        initialize();

        // Create a Checkout Session
        async function initialize() {
            const fetchClientSecret = async () => {
                const response = await fetch("/compras/create-checkout-session/", {
                method: "POST",
                });
                const { clientSecret } = await response.json();
                return clientSecret;
            };

            const checkout = await stripe.initEmbeddedCheckout({
                fetchClientSecret,
            });

            // Mount Checkout
            checkout.mount('#checkout');
        }
    </script> -->

    
  

{% endblock %}