{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% include 'core/menu.html' %}
    {% include 'core/mensagens.html' %}

    <!--MERCADO PAGO SDK-->
    <script src="https://sdk.mercadopago.com/js/v2"></script>

    <!--INFORMAÇÕES DO PRODUTO E FORMULÁRIO PARA PAGAMENTO-->
    <div class="container mt-5">
        <div class="row justify-content-md-center justify-content-lg-center">
            <!--INFORMAÇÕES DO PRODUTO-->
            <div class="col-md-4 mb-4">
                <h4>Pacote de 10 anúncios</h4>
                <div class="border rounded-2 shadow text-center">
                    <img src="{% static 'core/img/anuncios.jpg'%}" alt="ícone de anúncios" class="rounded-circle w-50 my-3 border-2 border">
                    <h2 class="fw-normal">{{card.nome_display}}</h2>
                    {% if card.cargo %}
                    <h4 class="lead">{{ card.cargo }}</h4>
                    {% endif %}
                    {% if card.empresa %}
                    <h4 class="lead">{{ card.empresa }}</h4>
                    {% endif %}
                    {% if card.subcategoria %}
                    <h6 class="lead">{{card.subcategoria}}</h6>
                    {% endif %}
                    <div class="d-flex justify-content-center py-3">
                        <ul class="text-start lead">
                            <li>10 anúncios no seu cartão</li>
                            <li>Insira foto e descrição do anúncio</li>
                            <li>Anuncie produtos, serviços...</li>
                        </ul>
                    </div>
                    <h4 class="fs-4 lead pb-4">R$ 9,90</h4>
                </div>
            </div>

            <!--FORMULÁRIO DE PAGAMENTO-->
            <div id="cardPaymentBrick_container" class="col-6"></div>
        </div>
    </div>

    <!--INICIALIZA FORM DE PAGAMENTO-->
    <script>
        const slug_empresa = '{{card.slug_empresa}}';
        const slug_card = '{{card.slug}}';
        const slugEmpresa = slug_empresa.replace(/\u002D/g, '-');
        const slugCard = slug_card.replace(/\u002D/g, '-');
        const mp = new MercadoPago('TEST-0d8e93b6-c7c7-465d-a76c-7a752c52b857', {
          locale: 'pt-BR'
        });
        const bricksBuilder = mp.bricks();
        const renderCardPaymentBrick = async (bricksBuilder) => {
          const settings = {
            initialization: {
              amount: 9.90, // valor total a ser pago
              payer: {
                email: "",
              },
            },
            customization: {
              visual: {
                style: {
                    customVariables:{
                        theme: 'bootstrap',
                        baseColor: '#ffc108',
                    }
                },
                texts: {
                    formTitle: "Cartão de crédito",
                  },
                paymentMethods: {
                    types: {
                        excluded: ['debit_card']
                    }, 
                    maxInstallments: 1,
                }
              },
            },
            callbacks: {
              onReady: () => {
                // callback chamado quando o Brick estiver pronto
              },
              onSubmit: (cardFormData) => {
                //  callback chamado o usuário clicar no botão de submissão dos dados
                //  exemplo de envio dos dados coletados pelo Brick para seu servidor
                return new Promise((resolve, reject) => {
                  fetch("/compras/comprar-anuncio/", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(cardFormData)
                  })
                    .then((response) => {
                        // Verifica o resultado do pagamento
                        console.log(response)
                        console.log(response.status)
                        if (response.status === 200) {
                            // Pagamento bem-sucedido, redirecione para a página de sucesso
                            console.log('Pagamento bem-sucedido, redirecione para a página de sucesso')
                            window.location.href = "/" + slugEmpresa + "/card/conteudo/" + slugCard + "/";
                        } else {
                            // Trate outros cenários de resposta aqui, como erros
                            // Pode redirecionar para uma página de erro, se aplicável
                            console.log('Pagamento falhou')
                            window.location.href = "/";
    }
                      resolve();
                    })
                    .catch((error) => {
                      // lidar com a resposta de erro ao tentar criar o pagamento
                      reject();
                    })
                });
              },
              onError: (error) => {
                // callback chamado para todos os casos de erro do Brick
              },
            },
          };
          window.cardPaymentBrickController = await bricksBuilder.create('cardPayment', 'cardPaymentBrick_container', settings);
        };
        renderCardPaymentBrick(bricksBuilder);
    </script>

{% endblock %}