{% extends 'core/admin.html' %}
{% load static %}
{% block content %}

<!-- <div class="d-flex justify-content-center">
  <iframe width="100%" height="2850"
    src="https://datastudio.google.com/embed/reporting/a0ec3871-d6b3-4545-a9e5-9a44e477aa27/page/S33B" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div> -->

<div class="row text-center p-3">
  {% for cartao in cartoes %}
  <div class="col-lg-4">
    <img src="{% static 'bild/guilherme-leal.png' %}" alt="Foto do perfil" class="rounded-circle w-50">
    <h2 class="fw-normal">{{cartao.primeiro_nome}} {{cartao.ultimo_nome}}</h2>
    <p>Informações sobre a performance</p>
    <p><a class="btn btn-warning" href="#">Relatório completo</a></p>
  </div>
  {% endfor %}
</div>
{% endblock %}