{% extends 'core/admin.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg">
  <div class="container border-bottom py-3">
    <img src="{% static 'bild/bild-logo.png' %}" alt="logotipo"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav fs-4 ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bild:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuarios:logout' %}">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row text-center p-3 justify-content-center">
    {% for cartao in cartoes %}
    <div class="col-lg-3 col-sm-5 col-12 mt-5 border border-2 rounded-2 mx-2">
      <img src="{{ cartao.img_perfil.url }}" alt="Foto do perfil" class="rounded-circle w-50 py-4">
      <h2 class="fw-normal">{{cartao.primeiro_nome}} {{cartao.ultimo_nome}}</h2>
      <p>Informações sobre a performance</p>
      <p><a class="btn btn-warning" href="{% url 'bild:dashboard-vendedor' cartao.id %}">Relatório completo</a></p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}