{% extends 'core/admin.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg">
  <div class="container border-bottom py-3">
    <img src="{% static 'bild/bild-logo.png' %}" alt="logotipo"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav fs-4 ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bild:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuarios:logout' %}">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--MOBILE-->
{% if mobile %}
<div class="d-flex justify-content-center">
  <iframe width="100%" height="2850"
    src="https://datastudio.google.com/embed/reporting/90dc4789-35e5-4eb8-886f-695bd2591690/page/S33B" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
{% else %}
<!--DESKTOP-->
<div class="d-flex justify-content-center">
  <iframe width="100%" height="1250"
    src="https://datastudio.google.com/embed/reporting/af0b4c9e-9e75-4413-8280-d44e024b64ae/page/S33B" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
{% endif %}
{% endblock %}