{% extends 'core/base.html' %}
{% block content %}

<body class="container d-flex flex-column h-100 justify-content-center align-items-center">
  <div class="min-vh-100 d-flex">
    <form method="post" action="{% url 'usuarios:esqueceu-senha-form' %}"
      class="col-8 col-md-6 col-lg-3 d-flex flex-column m-auto">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="alert alert-danger text-center alert-dismissible" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
  </div>

</body>
{% endblock %}