{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/mensagens.html' %}
<body class="container">
<div class="min-vh-100 d-flex">
  <form method="post" class="col-8 col-md-6 col-lg-3 d-flex flex-column m-auto">
    {% csrf_token %}
    <img class="py-3" src="https://via.placeholder.com/100x50" alt="Logotipo Meu Contato">
    {% for field in form %}
    <p>
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
    <div class="alert alert-danger text-center alert-dismissible" role="alert">
      {{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a href="{% url 'usuarios:esqueceu-senha-form' %}" class="text-decoration-none text-center py-4">Esqueci a senha</a>
  </form>
</div>
</body>
{% endblock %}