{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row flex-column align-content-center py-4">
  <div class="col-lg-4 text-center">
    {% if next == '/nois-tricota/' %}
    <img src="{% static 'nois_tricota/nois-tricota.jpg' %}" alt="Foto do perfil"/>
    {% elif next == '/bild/' %}
    <img src="{% static 'bild/bild-logo.png' %}" alt="Foto do perfil" />
    {% endif %}
  </div>
</div>
<form method="post" class="col-4 d-flex flex-column m-auto">
  {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.label_tag }}
    {{ field }}
    {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
      <div class="alert alert-danger text-center alert-dismissible" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>

{% endblock %}