{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block title %} Meu Contato | Minha conta {% endblock %}
{% block content %}

{% include 'core/menu.html' %}
{% include 'core/mensagens.html' %}

<h2 class="text-center my-5 display-4">Minha conta</h2>

<!--PRODUTOS PARA PF-->
<section class="d-flex flex-md-row flex-lg-row flex-column justify-content-around">

    <!--CARTÃO-->
    {% if comprou_cartao_pf and card %}
    <div class="pb-5 px-3 col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Cartão</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <a href="{% url 'core:detalhar-card-pf' card.empresa.slug card.slug %}" class="text-decoration-none text-black">
                <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                    {% if card.img_perfil %}
                    <img src="{{ card.img_perfil.url }}" alt="Foto do perfil" class="rounded-circle w-50 py-4">
                    {% else %}
                    <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                        <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
                    </div>
                    {% endif %}
                    <div class="p-3">
                        <h2 class="fw-normal">{{card.nome_display}}</h2>
                        {% if card.cargo %}
                        <h4 class="lead">{{ card.cargo }}</h4>
                        <h4 class="lead">{{ card.empresa }}</h4>
                        {% endif %}
                        <h6 class="lead pb-5">{{ card.subcategoria }} - {{ card.municipio }}</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% elif comprou_cartao_pf and not card %}
    <div class="pb-5 px-3  col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Cartão</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                    <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
                </div>
                <h4 class="lead p-3 lh-base">Você ainda não criou seu cartão virtual. Crie um agora mesmo e comece a compartilhar.</h4>
                <a href="{% url 'core:modelos' %}" type="button" class="btn btn-warning">Criar meu cartão</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pb-5 px-3  col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Cartão</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                    <i class="bi bi-person text-warning" style="font-size: 4em;"></i>
                </div>
                <h4 class="lead p-3 lh-base">Você ainda não comprou um cartão ou o pagamento está pendente. Compre agora e comece a compartilhar.</h4>
                <a href="{% url 'compras:comprar-cartao-pf' %}" type="button" class="btn btn-warning">Comprar cartão</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!--ANUNCIOS-->
    {% if comprou_ad %}
    <div class="pb-5 px-3 col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Anúncios</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                    <i class="bi bi-megaphone text-warning" style="font-size: 4em;"></i>
                </div>
                <div class="p-3">
                    <h2 class="fw-normal">Criados: {{anuncios_criados|length}}</h2>
                    <h4 class="lead">Restam: {{anuncios_criados|length|calculate}}</h4>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pb-5 px-3  col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Anúncios</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                    <i class="bi bi-megaphone text-warning" style="font-size: 4em;"></i>
                </div>
                <h4 class="lead p-3 lh-base">Tenha 10 anúncios no seu cartão e divulgue seus produtos, serviços, promoções muito mais.</h4>
                <a href="{% url 'compras:comprar-anuncio' %}" type="button" class="btn btn-warning">Comprar anúncios</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!--RELATORIOS-->
    {% if comprou_relatorio and relatorio.status == 'paid' %}
    <div class="pb-5 px-3 col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Relatórios</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                    <i class="bi bi-bar-chart-line text-warning" style="font-size: 4em;"></i>
                </div>
                <div class="p-3">
                    <h2 class="fw-normal">Status: {{relatorio.status|translate}}</h2>
                    <form method="POST" action="{% url 'compras:gerenciar-assinaturas' %}">
                        {% csrf_token %}
                        <input type="hidden" name="stripe_customer" value="{{relatorio.stripe_customer}}">
                        <button type="submit" class="btn btn-warning">Gerenciar assinatura</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pb-5 px-3 col-lg-3 col-md-3">
        <h3 class="my-4 display-6 text-center">Relatórios</h3>
        <div class="mb-4 mb-md-4 mb-lg-4 text-center px-0">
            <div class="border rounded-2 shadow mx-lg-0 mx-md-0" style="height: 450px;">
                <div class="align-items-center border border-2 d-flex justify-content-center m-auto my-4 rounded rounded-circle" style="width: 145px; height: 145px;">
                    <i class="bi bi-bar-chart-line text-warning" style="font-size: 4em;"></i>
                </div>
                <h4 class="lead p-3 lh-base">Analise o desempenho do seu cartão.
                    Quais cidades mais acessam, quantos usuários e muito mais.</h4>
                <a href="{% url 'compras:comprar-relatorio' %}" type="button" class="btn btn-warning">Assinar relatório</a>
            </div>
        </div>
    </div>
    {% endif %}

</section>

<!--PERFIL E COMPRAS-->
<section class="d-flex flex-md-row flex-lg-row flex-column justify-content-around">
    
    <!--PERFIL-->
    <div class="pb-5 px-3 col-lg-4 col-md-4 text-center">
        <h3 class="my-4 display-6 text-center">Perfil</h3>

        <!--DADOS PESSOAIS-->
        <div class="p-3">
            <ul class="list-unstyled lh-lg text-start">
                <li class="card-text lead">Nome: {{usuario.first_name}} {{ usuario.last_name}}</li>
                <li class="card-text lead">E-mail: {{usuario.email}}</li>
                <li class="card-text lead">Senha: <a href="{% url 'usuarios:trocar-senha' %}" class="text-decoration-none">Trocar senha</a></li>
                <li class="card-text lead">Conta: <a href="#" class="text-decoration-none mx-1" data-bs-toggle="modal"
                    data-bs-target="#modalConfirmaDesativação">Desativar conta</a></li>
            </ul>
        </div>

        <!--ACOES-->
        <div class="d-flex justify-content-around mb-4">

            <!--MODAL DE DESATIVAÇÃO DE CONTA-->
            <div class="modal fade" tabindex="-1" id="modalConfirmaDesativação">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirma desativação</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Confirma a desativação da conta?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'usuarios:desativar-conta' usuario.id %}"
                                class="btn btn-secondary mx-1">Sim</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--COMPRAS-->
    <div class="pb-5 px-3 col-lg-6 col-md-6 text-center">
        <h3 class="my-4 display-6 text-center">Minhas compras</h3>

        <!--PRODUTOS-->
        {% if produtos %}
        <div class="p-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{produto|get_name}}</td>
                        <td>{{produto.valor}}</td>
                        <td>{{produto.date_created}}</td>
                        <td>{{produto.status|translate}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% else %}
        <h5>Você ainda não comprou nenhum produto</h5>
        {% endif %}

    </div>
</section>

{% endblock %}