{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% block title %} Meu Contato | Minha conta {% endblock %}
{% block content %}

{% include 'core/menu.html' %}
{% include 'core/mensagens.html' %}

<h2 class="text-center my-5 display-5">Precisamos de mais algumas informações</h2>

<!--FORMULARIO DE PERFIL-->
<section class="container">
    <form method="post" id="id-form-criar-perfil" action="{% url 'usuarios:perfil-pf' %}" class="col col-lg-3 col-md-3 py-5 d-flex flex-column m-auto">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_cnpj_cpf">CPF:</label>
            {{ form.cnpj_cpf}}
            <span id="id-cpf-invalido" class="text-danger d-none">CPF inválido</span>
        </div>


        <button type="submit" class="btn btn-warning">Salvar</button>
    
    </form>
</section>

<!--VALIDA CPF-->
<script>
    document.querySelector('#id_cnpj_cpf').addEventListener('change', function(){
        let cpf = document.querySelector('#id_cnpj_cpf').value;
        let cpfInvalido = document.querySelector('#id-cpf-invalido');
        if (validarCPF(cpf)) {
            let cpfFormatado = formatarCPF(cpf);
            document.querySelector('#id_cnpj_cpf').value = cpfFormatado;
            cpfInvalido.classList.add('d-none');
        }
        else {
            cpfInvalido.classList.remove('d-none');
        }
    })

    function validarCPF(cpf) {
        cpf = cpf.replace(/[^\d]+/g,'');
        if(cpf == '') return false;
        // Elimina CPFs invalidos conhecidos
        if (cpf.length != 11 ||
            cpf == "00000000000" ||
            cpf == "11111111111" ||
            cpf == "22222222222" ||
            cpf == "33333333333" ||
            cpf == "44444444444" ||
            cpf == "55555555555" ||
            cpf == "66666666666" ||
            cpf == "77777777777" ||
            cpf == "88888888888" ||
            cpf == "99999999999")
                return false;
        // Valida 1o digito
        add = 0;
        for (i=0; i < 9; i ++)
            add += parseInt(cpf.charAt(i)) * (10 - i);
            rev = 11 - (add % 11);
            if (rev == 10 || rev == 11)
                rev = 0;
            if (rev != parseInt(cpf.charAt(9)))
                return false;
        // Valida 2o digito
        add = 0;
        for (i = 0; i < 10; i ++)
            add += parseInt(cpf.charAt(i)) * (11 - i);
        rev = 11 - (add % 11);
        if (rev == 10 || rev == 11)
            rev = 0;
        if (rev != parseInt(cpf.charAt(10)))
            return false;
        return true;
    }

    function formatarCPF(cpf) {
        // Formata o CPF com a máscara
        return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
    }
</script>

{% endblock %}
