{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/mensagens.html' %}
<div class="container">
    <div class="d-flex flex-column justify-content-center m-5 text-center" style="min-height: 75vh;">
        <h2>Sua conta ainda não foi ativada.</h2>
        <p>Por favor, verifique a caixa de entrada do seu endereço de e-mail.</p>
        <p>Caso não tenha recebido, clique no botão abaixo para receber um novo e-mail.</p>
        <form method="post" action="{% url 'usuarios:reenviar-email-ativacao' username %}">
            {% csrf_token %}
            <button class="btn btn-warning">Receber e-mail</button>
        </form>
    </div>
</div>
{% endblock %}