{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% include 'core/menu.html' %}
{% include 'core/mensagens.html' %}
<script src="https://www.google.com/recaptcha/api.js?render=6Ldekb4pAAAAAJxIxYU4JW-irGk1bYfEvSk8gRJi"></script>
<div class="container">

    <form method="post" id="id-form-criar-conta" action="{% url 'usuarios:registrar' %}" class="col-10 col-lg-6 py-5 d-flex flex-column m-auto">
        {% csrf_token %}
        <input type="hidden" id="recaptcha_token" name="recaptcha_token"/> 
        <p class="text-center display-5 mb-5">Criar minha conta</p>

        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Erro:</strong> Corrija os seguintes problemas:
            <ul>
                {% for message in error_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_email">Email:</label>
            {{ form.email}}
            <div id="verificar_email" class="text-danger m-2"></div>
        </div>

        <div class="mb-3">
            <label for="id_first_name">Primeiro nome:</label>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label for="id_last_name">Último nome:</label>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label for="id_password1">Senha:</label>
            <div class="input-group">
                {{ form.password1 }}
                <span class="input-group-text" onclick="togglePasswordVisibility(this.previousElementSibling.id)"><i class="bi bi-eye-fill"></i></span>
            </div>
        </div>
        <small id="passwordHelp" class="form-text text-muted"></small>

        <div class="mb-3">
            <label for="id_password2">Confirmação de senha:</label>
            <div class="input-group">
                {{ form.password2 }}
                <span class="input-group-text" onclick="togglePasswordVisibility(this.previousElementSibling.id)"><i class="bi bi-eye-fill"></i></span>
            </div>
        </div>
        <small id="passwordMatchHelp" class="form-text text-danger font-weight-bold"></small>

        <div class="mb-3">
            Ao se registrar você aceita os <a href="{% url 'core:termos-de-uso' %}" class="text-decoration-none">Termos
                de uso</a> e <a href="{% url 'core:politica-de-privacidade' %}" class="text-decoration-none">Política de
                privacidade</a></span>
        </div>

        <button type="submit" class="btn btn-warning" onclick="onClick(event)">Criar</button>

    </form>
</div>

<script>
    // PERMITE VISUALIZAR A SENHA
    function togglePasswordVisibility(passwordId) {
        var passwordInput = document.getElementById(passwordId);
        var icon = passwordInput.nextElementSibling.firstChild;

        // Alterna entre o tipo "password" e "text"
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove('bi-eye-fill');
            icon.classList.add('bi-eye-slash-fill');
        } else {
            passwordInput.type = "password";
            icon.classList.remove('bi-eye-slash-fill');
            icon.classList.add('bi-eye-fill');
        }
    }

    // VALIDA REGRAS DE SENHA
    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('id_password1');
        var passwordHelp = document.getElementById('passwordHelp');

        var confirmPasswordInput = document.getElementById('id_password2');
        var passwordMatchHelp = document.getElementById('passwordMatchHelp');

        passwordInput.addEventListener('input', function () {
            var password = passwordInput.value;

            // Verifique as regras da senha
            var lengthRule = password.length >= 8;
            var lowercaseRule = /[a-z]/.test(password);
            var uppercaseRule = /[A-Z]/.test(password);
            var numberRule = /\d/.test(password);
            var symbolRule = /[-!$%^&*()_+|~=`{}\[\]:;'"<>?,.@#\/\\]/.test(password);

            // Atualize a mensagem de ajuda
            var message = 'As seguintes regras devem ser atendidas:';
            message += lengthRule ? '<br>✅ Pelo menos 8 caracteres' : '<br>❌ Pelo menos 8 caracteres';
            message += lowercaseRule ? '<br>✅ Pelo menos uma letra minúscula' : '<br>❌ Pelo menos uma letra minúscula';
            message += uppercaseRule ? '<br>✅ Pelo menos uma letra maiúscula' : '<br>❌ Pelo menos uma letra maiúscula';
            message += numberRule ? '<br>✅ Pelo menos um número' : '<br>❌ Pelo menos um número';
            message += symbolRule ? '<br>✅ Pelo menos um símbolo' : '<br>❌ Pelo menos um símbolo';

            // Atualize o texto da mensagem
            passwordHelp.innerHTML = message;
        });

        confirmPasswordInput.addEventListener('input', function () {
            var password = passwordInput.value;
            var confirmPassword = confirmPasswordInput.value;

            // Verificar se as senhas são iguais
            if (password !== confirmPassword) {
                passwordMatchHelp.textContent = 'As senhas não coincidem.';
            } else {
                passwordMatchHelp.textContent = '';
            }
        });
    });

    // RECAPTCHA
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6Ldekb4pAAAAAJxIxYU4JW-irGk1bYfEvSk8gRJi', {action: 'submit'}).then(function(token) {
                // Preencha o token do reCAPTCHA em um campo de formulário oculto
                document.getElementById('recaptcha_token').value = token;
                // Submeta o formulário
                document.getElementById('id-form-criar-conta').submit();
            });
        });
    }
</script>

{% endblock %}