{% extends 'core/base.html' %}
{% block content %}
{% include 'core/menu.html' %}
<div class="container d-flex flex-column h-100 justify-content-center align-items-center">
    <h2 class="text-center my-5 display-4">Trocar a senha</h2>
    <form method="post" class="col-4">
        {% csrf_token %}

        {% include 'core/mensagens.html' %}

        {% for field in form %}
        <div>
            <div class="mb-3">
                {{ field.label_tag }}
                <div class="input-group">
                    {{ field }}
                    <span class="input-group-text" onclick="togglePasswordVisibility(this.previousElementSibling.id)"><i class="bi bi-eye-fill"></i></span>
                </div>
            </div>
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger text-center alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        <ul>
            <li>Sua senha não pode ser similiar a alguma informação pessoal</li>
            <li>Sua senha deve conter pelo menos 8 caracteres</li>
            <li>Sua senha não pode ser uma senha muito comum</li>
            <li>Sua senha não pode ser inteiramente numérica</li>
        </ul>
        <button type="submit" class="btn btn-warning w-100">Salvar</button>
    </form>
</div>

<!--MOSTRA A SENHA-->
<script>
    function togglePasswordVisibility(passwordId) {
        var passwordInput = document.getElementById(passwordId);
        var icon = passwordInput.nextElementSibling.firstChild;

        // Alterna entre o tipo "password" e "text"
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove('bi-eye-fill');
            icon.classList.add('bi-eye-slash-fill');
        } else {
            passwordInput.type = "password";
            icon.classList.remove('bi-eye-slash-fill');
            icon.classList.add('bi-eye-fill');
        }
    }
</script>
{% endblock %}